/*
 ***** SITE MESSAGES ********************************************************
 */

.error {
	display: none;
}

.errorMessageBig {
    font: bold 1.2em arial;
    height: 32px;
	padding: 6px 0 2px 36px;
    margin: 2px;
	color: red;
	background: url(../images/icons/warningBig.png) no-repeat top left;
}
.successMessageBig {
	font: bold 1.2em arial;
    min-height: 34px;
	padding: 6px 0 2px 36px;
    margin: 2px;
	background: url(../images/icons/acceptBig.png) no-repeat top left;
}
.activityMessageBig {
	font: bold 1.2em arial;
    min-height: 34px;
	padding: 6px 0 0 36px;
    margin: 2px;
	background: url(../images/ajaxAnimBig.gif) no-repeat top left;
}
.infoMessageBig {
    font: bold 1.2em arial;
    height: 32px;
	padding: 6px 0 2px 36px;
    margin: 2px;
	background: url(../images/icons/infoBig.png) no-repeat top left;
}

.errorMessageSmall {
	font: bold 1em arial;
	background: url(../images/icons/exclamation.png) no-repeat top left;
	padding: 2px 0 2px 24px;
	margin: 2px;       
}

.successMessageSmall {
    font: bold 1em arial;
    color: #CC6600;
    background: url(../images/icons/accept.png) no-repeat top left;
	padding: 2px 0 2px 24px;
    margin: 2px;
}

.infoMessageSmall {
	font: bold 1em arial;
	background: url(../images/icons/information.png) no-repeat top left;
	padding: 2px 0 2px 24px;
	margin: 2px;
}

.warningMessageSmall {
	font: bold 1em arial;
	background: url(../images/icons/iconWarningSmall.gif) no-repeat top left;
	padding: 2px 0 2px 24px;
	margin: 2px;
}

.alertMessageSmall {
	font: bold 1em arial;
	background: url(../images/icons/iconWarningSmall.gif) no-repeat top left;
	padding: 2px 0 2px 24px;
	margin: 2px;
}

.lightText {
    font: normal 1em arial;
}

.activityMessageSmall {
	font: bold 1.5em arial;
	color: #CC6600;
    background: url(../images/ajaxAnimBig.gif) no-repeat top left;
    height: 25px;
	padding: 2px 0 2px 28px;
    margin: 2px;
}

.errorPanelSmall {
	font: bold 1.3em arial;
	border-top: 2px solid #FF7349;
	border-bottom: 2px solid #FF7349;
	padding: 2px 0 2px 20px;
	background: #FFDACA url(../images/icons/exclamation.png) no-repeat left;
	margin: 5px 0 5px 0;
	color: #000;
}

.warningDiv {
	width: 100%;
	min-height: 42px;
	/*background: #FFDACA url(../images/icons/iconErrorBig.png) 6px 2px no-repeat;*/
    background: #FFDACA url(../images/icons/warningBig.png) 6px 2px no-repeat;
	padding-left: 60px;
	border-top: 2px solid #FF7349;
	border-bottom: 2px solid #FF7349;
}

 #cpoUpdateBar {
    float: left;
    margin: 6px 24px 0 24px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    border: 3px solid #FBED89;
    background-color: #FFFFD2;
    padding: 0 0 0 6px;
    position: relative;
	overflow: hidden;
    height: 26px;
    width: 450px;
}

/*
 ***** LOADING INDICATORS ********************************************************
 */

.loadingInline {
	display: inline-block;
	width: 16px;
	height: 16px;
}

#ajaxIndicatorOff {
	width: 26px; 
	height: 26px;
	background: url(../images/icons/iconBigDotGray.png) no-repeat;
	margin: 6px 0 0 18px;
}	

#ajaxIndicatorOn {
	width: 26px; 
	height: 26px;
	background: url(../images/icons/iconBigDotGreen.png) no-repeat;
	display: none;
}	