.red, .redText {
	color: #ff0000 !important;
}

.lightGray {
	color: #b5b3b3;
}

.darkerGray {
	color: #898787;
}

.lightBlue {
    color: #85b6e6;
}

.mediumBlue {
	color: #0075ce;
}

.darkBlue {
	color: #003399;
}

.greenText {
    color: #11b422;
}
