/*
 ***** DASHBOARD WIDGET STYLES ************************************************* 
 */

/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#dfdfdf;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
	{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}
/* End Colors */

/* Columns section */
#columns .column {
    float: left;
    width: 33.3%;
	min-height: 400px;
	height: auto !important; 
	height: 400px;
    list-style: none;
}
	
#columns #column1 .widget { 
	margin: 12px 6px 0 0; 
}
#columns #column3 .widget { 
	margin: 12px 0 0 6px; 
}
#columns .widget {
    margin: 12px 6px 0 6px;
    padding: 2px;
}

#columns .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
}

#columns .widget .widget-content {
    background: #333 url(img/widget-content-bg.png) repeat-x;
    padding: 0 5px;
    color: #DDD;
    line-height: 1.2em;
    overflow: hidden;
}

#columns .widget .widget-content p {
    padding: 0.8em 0;
    border-bottom: 1px solid #666;
}

#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}

#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}

#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disk;
}

#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}

#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}

#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}

/*
.widget-head a.remove  {
    float: right;
    display: inline;
    background: url(img/buttons.gif) no-repeat -24px 0;
    width: 14px;
    height: 14px;
    margin: 8px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.edit  {
    float: right;
    display: inline;
    background: url(img/buttons.gif) no-repeat;
    width: 24px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 4px 8px 4px;
    outline: none;
}


.widget-head a.collapse  {
    float: left;
    display: inline;
    background: url(img/buttons.gif) no-repeat -52px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 0 8px 4px;
    outline: none;
}
*/

.widget-placeholder { border: 2px dashed #DFDCDC;}
#column1 .widget-placeholder { margin: 20px 10px 0 0; }
#column2 .widget-placeholder { margin: 20px 10px 0 10px; }
#column3 .widget-placeholder { margin: 20px 0 0 10px; }

.edit-box {
    overflow: hidden;
    background: #333 url(img/widget-content-bg.png) repeat-x;
    margin-bottom: 2px;
    padding: 10px 0;
}

.edit-box li.item {
    padding: 10px 0;
    overflow: hidden;
    float: left;
    width: 100%;
    clear: both;
}


.edit-box label {
    float: left;
    width: 30%;
    color: #FFF;
    padding: 0 0 0 10px;
}

.edit-box ul.colors li {
    width: 20px;
    height: 20px;
    border: 1px solid #EEE;
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    cursor: pointer;
}

