* {
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    font-style: normal;
	font-size: 12px;
	line-height: 18px;
	color: #333;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

strong, b {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

em, i {
	font-style: italic !important;
}

a {
	color: #003399;
    font-size: inherit;
	text-decoration: none;
}

a:hover {
	color: #CC6600;
	font-size: inherit;
	text-decoration: none;
}
