/*
 ***** FORM STYLES ********************************************************
 */

form p {
	width: 680px;
	padding: 6px 12px 6px 0;
	margin-right: 3px;
	border-bottom: 1px solid #eceaea;
}
	
	.greyForm .altRow {
		background: url("../images/bgFadeGrey.gif") repeat-x;
		border-top: 1px solid #eceaea;
		border-bottom: 1px solid #eceaea;
	}	
	
	form.noBorder p,p.noBorder {
		border: none;
	}

	input, textarea {
		font: normal 1em arial;
		padding: 3px !important;
		border: 1px solid #6699CC;
		background: #fff url("../images/bgFormField.png") repeat-x top;
	}
	
	input.grayField,textarea.grayField,option.grayField,.clearOnFocus {
		color: #989696;
		font-weight: bold;
	}

	input.numberField {
		text-align: right;
	}
	
	input[type="text"]:focus, textarea:focus {
		background: #ECF5FD;
		border: 1px solid #6699CC;
		padding: 3px;
        color: #000 !important;
	}
		
	select {
		padding: 2px !important;
	}

    option {
        padding-left: 3px !important;
    }

	option.emph, select option.emph {
		font: bold 1em arial;
        color: #666;
        border-bottom: 1px solid #eeeeee;
        margin-top: 6px;
	}

    option.indent, select option.indent {
		font: 1em arial;
        padding-left: 24px !important;
	}
	
	label {
		font: bold 1em arial;
		display: block;
		float: left;
		width: 250px;	
		color: #333;
		letter-spacing: 1px;
		padding-right: 15px;
		text-align: right;
	}
         label.required {
               width: 250px;
               padding-right: 15px;
               letter-spacing: 1px;
               background: url("../images/icons/bullet_delete.png") no-repeat right;
          }

          .inlineLabel {
               font: bold 1em arial;
               width: 250px;
               color: #333;
               padding: 3px 12px 0 0;
               letter-spacing: 1px;
          }
		  
		  label.normal {
			  font: normal 1em arial;
			  display: inline;
			  float: none;
			  width: 100%;
			  color: #333;
			  letter-spacing: 0px;
		  }

          label.labelVert {
               display: block;
               margin: 6px 0 3px 0;
               font: bold 1em arial;
               float: none;
               text-align: left;
          }
			
	input.inline {
		display: block;
		float: left;
	}
	
	.formError {
        padding-left: 265px;
		color: red;
	}
	
	button.primary {
		display: inline-block;
		float: left;
	}
	
	button.secondary {
		display: inline-block;
		float: right;
	}
	
	input.search, input.search:focus, select.search, select.search:focus  {
		background: #fff url("../images/icons/magnifierSearch.png") no-repeat left;
		padding-left: 20px !important;
        border: 1px solid #6699CC;
	}

    input.vcardSearch, input.vcardSearch:focus, select.vcardSearch, select.vcardSearch:focus  {
		background: #fff url("../images/icons/vcardSearchAdd.png") no-repeat left;
		padding-left: 20px !important;
        border: 1px solid #6699CC;
	}

    input.setting, input.setting:focus, select.setting, select.setting:focus  {
		background: #fff url("../images/icons/cog.png") no-repeat left;
		padding-left: 20px !important;
        border: 1px solid #6699CC;
	}

    input.check, input.check:focus, select.check, select.check:focus  {
		background: #fff url("../images/icons/checkSmall.png") no-repeat left;
		padding-left: 20px !important;
        border: 1px solid #6699CC;
	}

    .savedField {
        background: #8ae778;
        border: 1px solid #339a1e;
    }
	
	select.sort  {
		background: #fff url("../images/icons/iconSelectSort.png") no-repeat left;
		padding-left: 20px !important;
		border: 1px solid #6699CC;
	}

    select.chart  {
		background: #fff url("../images/icons/iconSelectChart.png") no-repeat left;
		padding-left: 20px !important;
		border: 1px solid #6699CC;
	}
	
	form .moreLink {
		display: block;
		width: 396px;
		margin: 6px 0 0 262px;
		font: bold 1.2em arial;
		text-decoration: none;
	}
	
	form .moreLink:hover {
		display: block;
		width: 396px;
		margin: 6px 0 0 262px;
		font: bold 1.2em arial;
		text-decoration: none;
	}
	
	.formFieldWait {
		background: #ECF5FD url("../images/ajaxAnimSmall.gif") no-repeat right;
	}
	
	.buttonContainer {
		width: 454px;
		margin: 12px 0 0 262px;
	}
	
	.formSubText {
		margin-left: 265px;
	}

     .messageBox {
          height: 40px;
          min-height: 40px;
          width: 460px;
          margin-bottom: 6px;
     }

.formHelpText, .formRightContent {
	margin-left: 265px;
}

.appSearchBox {
	float: left; 
	width: 210px;
	height: 18px;
	margin-left: 3px;
	font: bold 1em arial;
}	

.messageCheckboxContainer {
    overflow: hidden;
	display: inline-block; 
	width: 145px;
    max-height: 18px;
    padding: 0;
    margin: 0;
}

.messageRecipientContainer {
    overflow: hidden;
	display: inline-block;
	width: 145px;
    max-height: 18px;
    padding: 0;
    margin: 0;
}

.tzStyle {
    width: 400px;
}

.checkboxTrigger {
    cursor: pointer;
}