.iconDashboard {
	background: url("../images/icons/icondashboard.png") no-repeat;	
}
.iconPageLogin {
	background: url("../images/icons/iconlogin.png") top left no-repeat;
}
.iconPageClients {
	background: url("../images/icons/iconclients.png") no-repeat;
}
.iconPagePlaces, .iconplaces {
	background: url("../images/icons/iconplaces2.png") no-repeat;
}
.iconPageCalendar, .iconcalendar {
	background: url("../images/icons/iconcalendar.png") no-repeat;
}
.iconPageTasks, .icontasks {
	background: url("../images/icons/icontasks.png") no-repeat;
}
.iconPageAdmin {
	background: url("../images/icons/iconlogin.gif") no-repeat;	
}
.iconPageSettings {
	background: url("../images/icons/iconsettings.png") no-repeat;
}
.iconPageTimesheets {
	background: url("../images/icons/icontimesheets.png") no-repeat;
}
.iconPageAdministration {
	background: url("../images/icons/iconadministration.png") 0 -2px no-repeat;
}
.iconPageTeam {
	background: url("../images/icons/iconteam.png") no-repeat;
}
.iconPageSearch {
	background: url("../images/icons/iconsearch.png") no-repeat;
}
.iconPageFile {
	background: url("../images/icons/iconFileManager.png") no-repeat;
}
.iconPageProjectTemplates {
	background: url("../images/icons/iconprojecttemplates.png") no-repeat;
}
.iconErrorPage {
	background: url("../images/icons/dialog-warning.png") no-repeat;
}
.iconPageImport, .iconimport {
	background: url("../images/icons/iconimport.png") no-repeat;
}
.iconnotes {
	background: url("../images/icons/iconnotes.png") no-repeat;
}

.iconinvoices {
	background: url("../images/icons/iconinvoices.png") no-repeat;
}

.icontimer {
	background: url("../images/icons/icontimer.png") no-repeat;	
}

.icontimer_play {
	background: url("../images/icons/icontimer_play.png") left no-repeat;
}

.icontimer_pause {
	background: url("../images/icons/icontimer_pause.png") no-repeat;
}

.iconfilemanager {
    background: url("../images/icons/iconFileManager.png") no-repeat;
}

.icon_email {
	display: block;
	min-height: 18px;
	background: url(../images/icons/email.png) 0 center no-repeat;	
	padding-left: 22px;		
}

.icon_email_send {
	display: block;
	min-height: 18px;
	background: url(../images/icons/mail--arrow.png) 0 center no-repeat;
	padding-left: 22px;
}

.icon_email_receive {
	display: block;
	min-height: 18px;
	background: url(../images/icons/mail-open.png) 0 center no-repeat;
	padding-left: 22px;
}

.icon_target {
	display: block;
	min-height: 18px;
	background: url(../images/icons/target.png) 0 center no-repeat;
	padding-left: 22px;
}

.icon_url {
	display: block;
	min-height: 18px;
	background: url(../images/icons/globe--arrow.png) 0 center no-repeat;
	padding-left: 22px;		
}

.icon_phone {
	display: block;
	min-height: 18px;
	background: url(../images/icons/mobile-phone.png) 0 center no-repeat;
	padding-left: 22px;		
}

.icon_im {
	display: block;
	min-height: 18px;
	background: url(../images/icons/emoticon_smile.png) 0 center no-repeat;
	padding-left: 22px;
}

.icon_vcard {
	display: block;
	min-height: 18px;
	background: url(../images/icons/vcard.png) 0 center no-repeat;
	padding-left: 22px;
}

.icon_Person {
	display: block;
	min-height: 18px;
	background: url(../images/icons/user.png) 0 center no-repeat;	
	padding-left: 22px;		
}

.icon_add {
    display: block;
	min-height: 16px;
    background: url(../images/icons/add.png) 0 center no-repeat;
    padding-left: 22px;
}

.icon_add_small {
	display: inline-block;
	background: url("../images/icons/addSmall.png") left no-repeat;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.icon_settings_small {
	display: block;
	background: url("../images/icons/cog_edit.png") left no-repeat;
	height: 20px;
	padding-left: 20px;
}

.icon_spacer {
	display: block;
	height: 20px;
	padding-left: 22px;		
}

.icon_delete {
    background: url("../images/icons/cross.png") no-repeat left;
	display: block;
	height: 18px;
	padding-left: 22px;
}

.icon_delete.single {
    padding-left: 0;
    width: 16px;
}

.icon_filter {
    background: url("../images/icons/funnel.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_tag {
    background: url("../images/icons/tagRed.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_export {
    background: url("../images/icons/application-arrow.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_export2 {
    background: url("../images/icons/iconExport.png") no-repeat left;
	display: block;
	min-height: 22px;
	padding-left: 32px;
}

.icon_lock {
    background: url("../images/icons/lock.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_paypal_small {
    background: url("../images/icons/paypal-icon.png") no-repeat left;
	display: block;
	height: 18px;
	padding-left: 22px;
}

.icon_milestone_small {
    background: url("../images/icons/flag_red.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_project_small {
    background: url("../images/icons/hammer-screwdriver.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_project_small_right {
    background: url("../images/icons/hammer-screwdriver.png") no-repeat left;
	display: inline-block;
	min-height: 18px;
	padding-left: 22px;
	margin-left: 6px;
}

.icon_invoice_small, .icon_invoices_small {
    background: url("../images/icons/iconInvoiceSmall.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_invoice_small_right {
    background: url("../images/icons/iconInvoiceSmall.png") no-repeat right;
	display: inline-block;
	min-height: 20px;
	padding-right: 22px;
	margin-left: 6px;
}

.icon_client_small {
    background: url("../images/icons/user-business.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px !important;
}

.icon_widgets_small {
    background: url("../images/icons/widgets.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px !important;
}

.icon_home_small {
    background: url("../images/icons/icon_home.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px !important;
}

.icon_room_small {
    background: url("../images/icons/door_open.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px !important;
}

.icon_trash_small {
    background: url("../images/icons/iconTrashSmall.png") no-repeat left;
	display: block;
	height: 18px;
	padding-left: 22px;
}

.icon_category_small {
    background: url("../images/icons/iconCategorySmall.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_template_small {
    background: url("../images/icons/iconTemplate.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_folder_open_small {
    background: url("../images/icons/folder-open-image.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.iconArrowDown {
	display: block;
	background: url(../images/icons/arrow_down.png) 0 center no-repeat;
	height: 20px;
	padding-left: 22px;		
}

.iconHelp {
	margin-left: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icons/iconHelpSmall.gif) 0 center no-repeat;
	cursor: pointer;
}

.iconAlert {
	display: block;
	height: 20px;
    padding-left: 20px;
	background: url(../images/icons/iconWarningSmall.gif)left no-repeat;
}

.iconHelpFormOutside {
	margin-top: 10px;
}

.icon_password {
    background: url("../images/icons/textfield_key.png") no-repeat left;
	display: block;
	min-height: 18px;
	padding-left: 22px;
}

.icon_map_fields {
    background: url("../images/icons/direction--arrow.png") no-repeat left;
	display: block;
	height: 18px;
	padding-left: 22px;
}

.iconHelpFormInside {
	position: absolute;
	left: 917px;
	margin-top: -20px;
}

.formStaticHelp {
	position: absolute;
	right: 509px;
	margin-top: -20px;
}

.iconEditSmall {
	background: url("../images/icons/pencil.png") no-repeat left;
	padding-left: 22px;	
}

.iconDeleteSmall {
	background: url("../images/icons/cross.png") no-repeat left;
	padding-left: 22px;	
}

.iconViewSmall {
	background: url("../images/icons/magnifier.gif") no-repeat left;
	padding-left: 22px;	
}

.iconNewSmall {
	background: url("../images/icons/iconAddSmall.png") no-repeat left;
	padding-left: 22px;	
}

.iconPDFSmall {
	background: url("../images/icons/mime/pdf_document.png") no-repeat left;
	padding-left: 22px;	
}

.iconPrintSmall {
    display: block;
    min-height: 20px;
	background: url("../images/icons/printer.png") no-repeat left;
	padding-left: 22px;	
}

.iconAppTable {
	background: url("../images/icons/application-table.png") no-repeat left;
	padding-left: 22px;
	display: block;
	height: 20px;
}

.iconRecurring {
    background: url("../images/icons/arrow-circle-double.png") no-repeat left;
    display: inline-block;
	padding-left: 22px;
	min-height: 18px;
}

.iconMailInactive, 
.iconMailActive, 
.iconTrashInactive, 
.iconTrashActive {
	height: 39px;
	width: 37px;	
	float: left;
}

.iconMailInactive {
	background: url("../images/icons/iconMailInactive.png") no-repeat left;
	margin: -1px 12px 0 0;
}

.iconTrashInactive {
	background: url("../images/icons/iconTrashInactive.png") no-repeat left;
	margin-top: -1px;
}

.iconMailActive {
	background: url("../images/icons/iconMailActive.png") no-repeat left;
	margin-right: 12px;
	margin: -1px 12px 0 0;
	cursor: pointer;
}

.iconTrashActive {
	background: url("../images/icons/iconTrashActive.png") no-repeat left;
	margin-top: -1px;
	cursor: pointer;
}

.iconMailActive span {
	display: block;
	width: 10px;
	font: bold .9em arial;
	margin: 22px 0 0 5px;
	color: #fff;
	text-align: center;
}

.iconTrashActive span {
	display: block;
	width: 10px;
	font: bold .9em arial;
	margin: 22px 0 0 5px;
	color: #000;
	text-align: center;
}

/*
 ****** STATUS ICONS :: PROJECT STATUS *****
 */
.status b {
	display: none;
}

.status_not_started {
	display: block;
	min-width: 16px;
	min-height: 18px;
	padding-left: 24px;
	background: url("../images/icons/iconStatusNotStarted.png") no-repeat left;
}
.status_in_progress {
	display: block;
	min-width: 16px;
	min-height: 18px;
	padding-left: 24px;
	background: url("../images/icons/iconStatusInProgress.png") no-repeat left;
}
.status_completed {
	display: block;
	min-width: 16px;
	min-height: 18px;
	padding-left: 24px;
	background: url("../images/icons/accept.png") no-repeat left;
}
.status_past_due {
	display: block;
	min-width: 16px;
	min-height: 18px;
	padding-left: 24px;
	background: url("../images/icons/iconStatusOverdue.png") no-repeat left;
}
.status_on_hold {
	display: block;
	min-width: 16px;
	min-height: 18px;
	padding-left: 24px;
	background: url("../images/icons/iconStatusOnHold.png") no-repeat left;
}

.status_gray {
	display: block;
	min-width: 16px;
	min-height: 18px;
	padding-left: 24px;
	background: url("../images/icons/acceptGray.png") no-repeat left;
}

/*
 ****** STATUS ICONS :: INVOICE STATUS *****
 */
.status_open_created_on {
	display: block;
	width: 23px;
	height: 26px;
	background: url("../images/icons/iconInvoiceOpen.gif") no-repeat left;
	
}
.status_open_sent_on {
	display: block;
	width: 23px;
	height: 26px;
	background: url("../images/icons/iconInvoiceOpenSent.gif") no-repeat left;
}
.status_open_overdue {
	display: block;
	width: 23px;
	height: 26px;
	background: url("../images/icons/iconInvoiceOpenOverdue.gif") no-repeat left;
}
.status_closed_paid_on {
	display: block;
	width: 23px;
	height: 26px;
	background: url("../images/icons/iconInvoiceClosedPaid.gif") no-repeat left;
}
.status_closed_not_paid {
	display: block;
	width: 23px;
	height: 26px;
	background: url("../images/icons/iconInvoiceClosedNotPaid.gif") no-repeat left;
}

/*
 ****** LITTLE WIDGET ICONS *****`
 */

.icon_notes_small {
	background: url("../images/icons/iconnotes_small.png") no-repeat left;
	display: block;
	padding-left: 22px;
	height: 16px;
}

.icon_notes_add_small {
	background: url("../images/icons/clipboard--plus.png") no-repeat left;
	display: block;
	padding-left: 22px;
	height: 16px;
}

.icon_delicious_small {
	background: url("../images/icons/icondelicious_small.gif") no-repeat left;
	display: block;
	padding-left: 22px;
	height: 16px;
}

.icon_projects_small {
	background: url("../images/icons/hammer-screwdriver.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_calendar_small, .icon_calendar_day {
	background: url("../images/icons/calendar-month.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 19px;
}

.fc-event.icon_calendar_small, .fc-event.icon_project_small, .fc-event.icon_task_small {
    background-position: 2px 2px;
    padding-left: 18px;
}

.icon_calendar_today, .icon_event_small {
	background: url("../images/icons/calendar-select-today.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_calendar_week {
	background: url("../images/icons/calendar-select-week.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_calendar_nextweek {
	background: url("../images/icons/calendar-select-days-span.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_calendar_edit {
	background: url("../images/icons/calendar--pencil.png") no-repeat left;
	display: block;
	padding-left: 22px;
	height: 18px;
}

.icon_calendar_add {
	background: url("../images/icons/calendar--plus.png") 0 -3px no-repeat;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_calendar_agenda {
	background: url("../images/icons/clipboard-list.png") no-repeat left;
	display: block;
	padding-left: 22px;
	height: 18px;
}

.icon_tasks_small {
	background: url("../images/icons/icontasks_small.png") no-repeat left top;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.fc-event.icon_tasks_small {
    background-position: 2px 2px;
    padding-left: 17px;
}

.icon_tasks_small_right {
    background: url("../images/icons/icontasks_small.png") no-repeat left;
	display: inline-block;
	min-height: 18px;
	padding-left: 22px;
	margin-left: 6px;
}

.icon_tasks_small_add {
	background: url("../images/icons/icontasks_small-add.png") no-repeat left top;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_rss_small {
	background: url("../images/icons/feed.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_excel_small {
	background: url(../images/icons/mime/document_excel.png) no-repeat top left;
	display: block;
	padding-left: 22px;
    padding-bottom: 2px;
	min-height: 18px;
}

.icon_ical_small {
	background: url("../images/icons/calendar-ical.png") no-repeat top left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_messages_small {
	background: url("../images/icons/balloons--plus.png") no-repeat left;
	display: inline-block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_comment_small {
	background: url("../images/icons/balloon--plus.png") no-repeat top left;
	display: inline-block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_comment_small.gray {
	background: url("../images/icons/balloon--plus_gray.png") no-repeat left;
}

.icon_comment_small_left {
	background: url("../images/icons/balloon-left.png") no-repeat left;
    display: inline-block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_comment_small_left.gray {
	background: url("../images/icons/balloon-left_gray.png") no-repeat left;
}

.icon_comment_small_right {
	background: url("../images/icons/balloon.png") no-repeat left;
    display: inline-block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_comment_small_right.gray {
	background: url("../images/icons/balloon_gray.png") no-repeat left;
}

.icon_search_small {
	background: url("../images/icons/iconsearch_small.gif") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_timer_small {
	background: url("../images/icons/clock.png") no-repeat left;
	display: block;
    padding-left: 22px;
	min-height: 18px;
}

.icon_timer_running_small {
	background: url("../images/icons/clock--running.png") no-repeat left;
	min-height: 22px;
    display: block;
}

.icon_team_small {
	background: url("../images/icons/users.png") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_file_small {
	background: url("../images/icons/disk.png") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_file_small_right {
	background: url("../images/icons/disk.png") no-repeat left;
	display: inline-block;
	padding-left: 22px;
	min-height: 18px;
	margin-left: 6px;
}

.icon_expense_small {
	background: url("../images/icons/box-coins.png") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_expense_small_right {
	background: url("../images/icons/box-coins.png") no-repeat left;
	display: inline-block;
	min-height: 18px;
	padding-left: 22px;
	margin-left: 6px;
}

.icon_reports_small {
	background: url("../images/icons/chart.png") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.icon_dropdown_small {
	display: block;
	background: url("../images/icons/chevron.png") no-repeat left;
	padding-left: 18px;
}

.icon_more_small {
	display: block;
	background: url("../images/icons/chevron-small.png") no-repeat left;
	padding-left: 18px;
}

.icon_less_small {
	display: block;
	background: url("../images/icons/chevron-small-collapse.png") no-repeat left;
	padding-left: 18px;
}

.icon_database_export {
    display: block;
	background: url("../images/icons/database-export.png") no-repeat left;
	padding-left: 32px;
}

.icon_database_import {
    display: block;
	background: url("../images/icons/database-import.png") no-repeat left;
	padding-left: 32px;
}

.icon_briefcase {
    display: block;
	background: url("../images/icons/briefcase.png") no-repeat left;
	padding-left: 22px;
}

.icon_money {
    display: block;
	background: url("../images/icons/money-coin.png") no-repeat left;
	padding-left: 22px;
}

/*
 ****** TASK PRIORITY ICONS ******
 */

.icon_priority {
	display: block;
	height: 16px;
	padding-left: 20px;
}

	.icon_priority.none {
		background: url("../images/icons/iconPriorityGraySmall.png") no-repeat left;
	}
	
	.icon_priority.low {
		background: url("../images/icons/iconPriorityGreenSmall.png") no-repeat left;
	}

	.icon_priority.medium {
		background: url("../images/icons/iconPriorityYellowSmall.png") no-repeat left;
	}
	
	.icon_priority.high {
		background: url("../images/icons/iconPriorityOrangeSmall.png") no-repeat left;
	}
	
	.icon_priority.extreme {
		background: url("../images/icons/iconPriorityRedSmall.png") no-repeat left;
	}
	
/*
 ****** BOX ICONS (little icons in the top left of some boxes)
 */	
.boxIconNotes {
	background: url("../images/icons/clipboard.png") no-repeat top left;
	min-height: 30px;
	padding: 6px 0 0 30px;
}

/*
 * Badge icons
 */
 .icon_badge_gold,.icon_badge_blue,.icon_badge_green {
    display: block;
    padding-left: 20px;
    min-height: 20px;
 }

.icon_badge_gold {
    background: url("../images/icons/shield-gold.png") no-repeat left;
}

.icon_badge_blue {
    background: url("../images/icons/shield-blue.png") no-repeat left;
}

.icon_badge_green {
    background: url("../images/icons/shield-green.png") no-repeat left;
}

.iconHorror {
    background: url('../images/icons/emotion_suprised.png') top left no-repeat;
    padding-left: 42px;
    display: block;
    min-height: 40px;
}

.icon_map_marker {
    background: url("../images/icons/marker.png") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

ul.check {
    list-style-image: url('../images/icons/checkSmall.png');
}

ul.check li {
    padding-bottom: 3px;
}

.browserIcons {
    height: 24px;
    padding-left: 30px;
    padding-right: 12px;
    display: inline-block;
}

.browserIcons.ie {
    background: url(../images/icons/logoIE.png) no-repeat;
}
.browserIcons.firefox {
    background: url(../images/icons/logoFirefox.png) left no-repeat;
}
.browserIcons.chrome {
    background: url(../images/icons/logoChrome.png) left no-repeat;
}
.browserIcons.safari {
    background: url(../images/icons/logoSafari.png) left no-repeat;
}
.browserIcons.opera {
    background: url(../images/icons/logoOpera.png) left no-repeat;
}

.shared {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(../images/icons/iconShare.png) left no-repeat;
}

.dragHandle {
    width: 16px;
    height: 16px;
    cursor: move;
    background: url(../images/icons/dragHandle16.png) left no-repeat;
}