.icon_file_blank {
	background: url("../images/icons/mime/document_blank.png") no-repeat top center;
}
.icon_file_blank_list, .fileTree li.icon_file_blank {
	background: url("../images/icons/mime/file.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_xls {
	background: url("../images/icons/mime/file_xls.png") no-repeat top center;
}
.icon_file_xls_list, .fileTree li.icon_file_xls {
	background: url("../images/icons/mime/page_white_excel.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_doc {
	background: url("../images/icons/mime/file_doc.png") no-repeat top center;
}
.icon_file_doc_list, .fileTree li.icon_file_doc {
	background: url("../images/icons/mime/page_word.png") left top no-repeat;
	padding-left: 20px;
}
.icon_file_csv_list, .fileTree li.icon_file_csv {
	background: url("../images/icons/mime/page_csv.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_zip {
	background: url("../images/icons/mime/file_zip.png") no-repeat top center;
}
.icon_file_zip_list, .fileTree li.icon_file_zip {
	background: url("../images/icons/mime/zip.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_bmp {
	background: url("../images/icons/mime/file_bmp.png") no-repeat top center;
}
.icon_file_bmp_list,
.icon_file_gif_list,
.icon_file_jpg_list,
.icon_file_png_list,
.icon_file_tif_list,
.fileTree li.icon_file_bmp,
.fileTree li.icon_file_gif,
.fileTree li.icon_file_jpg,
.fileTree li.icon_file_png,
.fileTree li.icon_file_tif {
	background: url("../images/icons/mime/picture.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_gif {
	background: url("../images/icons/mime/file_gif.png") no-repeat top center;
}

.icon_file_jpg {
	background: url("../images/icons/mime/file_jpg.png") no-repeat top center;
}

.icon_file_html {
	background: url("../images/icons/mime/file_html.png") no-repeat top center;
}
.icon_file_sql {
	background: url("../images/icons/mime/file_sql.png") no-repeat top center;
}
.icon_file_html_list, .fileTree li.icon_file_html {
	background: url("../images/icons/mime/html.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_mp3 {
	background: url("../images/icons/mime/file_mp3.png") no-repeat top center;
}
.icon_file_mp3_list, .icon_file_wav_list, .fileTree li.icon_file_wav, .fileTree li.icon_file_mp3 {
	background: url("../images/icons/mime/music.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_pdf {
	background: url("../images/icons/mime/file_pdf.png") no-repeat top center;
}
.icon_file_pdf_list, .fileTree li.icon_file_pdf {
	background: url("../images/icons/mime/page_white_acrobat.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_png {
	background: url("../images/icons/mime/file_png.png") no-repeat top center;
}

.icon_file_psd {
	background: url("../images/icons/mime/file_psd.png") no-repeat top center;
}
.icon_file_psd_list, .fileTree li.icon_file_psd {
	background: url("../images/icons/mime/psd.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_tif {
	background: url("../images/icons/mime/file_tif.png") no-repeat top center;
}

.icon_file_txt {
	background: url("../images/icons/mime/file_txt.png") no-repeat top center;
}
.icon_file_txt_list, .fileTree li.icon_file_txt {
	background: url("../images/icons/mime/txt.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_rtf {
	background: url("../images/icons/mime/file_xls.rtf") no-repeat top center;
}

.icon_file_wav {
	background: url("../images/icons/mime/file_wav.png") no-repeat top center;
}

.icon_file_wma {
	background: url("../images/icons/mime/file_wma.png") no-repeat top center;
}

.icon_file_xml {
	background: url("../images/icons/mime/file_xml.png") no-repeat top center;
}

.icon_file_folder {
	background: url("../images/icons/mime/folder_yellow.png") no-repeat top center;
}

.icon_file_ppt {
	background: url("../images/icons/mime/file_ppt.png") no-repeat top center;
}
.icon_file_ppt_list, .fileTree li.icon_file_ppt {
	background: url("../images/icons/mime/ppt.png") left top no-repeat;
	padding-left: 20px;
}

.icon_folder_closed_list, .fileTree li.icon_file_folder {
    background: url("../images/icons/mime/folder-horizontal.png") left top no-repeat;
	padding-left: 20px;
}

.icon_folder_open_list {
    background: url("../images/icons/mime/folder-horizontal-open.png") left top no-repeat;
	padding-left: 20px;
}

.icon_file_plain {
    background: url("../images/icons/mime/file.png") left top no-repeat;
	padding-left: 20px;
}

/***** 256 pixel icons for file modal window *****/

.icon_file_256_pdf, .icon_file_256_txt, .icon_file_256_doc, .icon_file_256_xls {
    width: 256px;
    height: 256px;
    padding: 30px 0 0 268px;
}

.icon_file_256_pdf {
    background: url("../images/icons/mime/big/pdf.png") left top no-repeat;
}

.icon_file_256_txt {
    background: url("../images/icons/mime/big/txt.png") left top no-repeat;
}

.icon_file_256_doc {
    background: url("../images/icons/mime/big/doc.png") left top no-repeat;
}

.icon_file_256_xls {
    background: url("../images/icons/mime/big/xls.png") left top no-repeat;
}

.icon_file_256_sql {
    background: url("../images/icons/mime/big/sql.png") left top no-repeat;
}