body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
}

@media all and (orientation:portrait) {
    max-width: 320px;
}

@media all and (orientation:landscape) {
    max-width: 480px;
}

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#header {
    width: 100%;
    height: 175px;
    padding-bottom: 12px;
}

.child #header {
    width: 100%;
    height: 95px;
    padding-bottom: 12px;
}

    #masthead {
        width: 100%;
        height: 175px;
    }

    .child #masthead {
        width: 100%;
        height: 95px;
    }

    #blueField {
        width: 100%;
        height: 104px;
        background: url(../images/bgHeaderHandheld.png) repeat-x;
    }

    .child #blueField {
        height: 60px;
    }

    #topBlackBar {
        width: 100%;
        height: 35px;
        background: url(../images/bgBlackBar2.png) repeat-x;
    }

    #menuBar {
        width: 100%;
        height: 60px;
        background-color: #bd7710;
    }

    #logoContainer {
        float: left;
        width: 100%;
        height: 104px;
    }

        #logo {
            width: 301px;
            height: 91px;
            margin: 8px 0 0 8px;
            background: url(../images/logoHandheld.png) no-repeat;
        }

        #tagLine {
            display: none;
        }

        .child #logoContainer {
            display: none;
        }

    #photoContainer {
        display: none;
    }

.linkWhiteSmall {
    color: #e4e2e2;
    font-size: 1em;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
}

.linkWhiteSmall:hover {
    text-decoration: underline;
}

.linkMainMenu, .linkMainMenu:hover {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
}

#searchContainer {
    display: none;
}

/***** MENU STYLES *****/

ul.horizMenu {
    list-style: none;
}

    ul.horizMenu li {
        display: block;
        float: left;
        padding: 0 6px 0 6px;
        position: relative;
    }

    .menuBlackBar {
        padding-top: 15px;
    }

    .menuMain li {
        width: 45%;
        margin: 8px 0 0 0;
    }

    .menuMain li a {
        display: block;
        text-align: center;
        font-size: 1.2em;
    }
    
.seachBar {
    width: 160px;
    height: 38px;
    margin: 2px 7px 0 38px;
    clear: both;
}
