#header {
    width: 100%;
    height: 300px;
    background-color: #D3D4D1;
}

.child #header {
    width: 100%;
    height: 175px;
    background-color: #D3D4D1;
}

    #masthead {
        width: 958px;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        background: url(../images/bgPage.png) repeat-y;
    }

    .child #masthead {
        width: 958px;
        margin-left: auto;
        margin-right: auto;
        height: 175px;
        background: url(../images/bgPage.png) repeat-y;
    }

    #blueField {
        margin-left: 9px;
        width: 940px;
        height: 263px;
        background: url(../images/bgHeaderBlue2.png) no-repeat;
    }

    .child #blueField {
        margin-left: 9px;
        width: 940px;
        height: 104px;
        background: url(../images/bgHeaderChild.png) no-repeat;
    }

    #topBlackBar {
        width: 940px;
        height: 35px;
        margin-left: 9px;
        background: url(../images/bgBlackBar2.png) repeat-x;
    }

    #menuBar {
        width: 940px;
        height: 38px;
        background: url(../images/bgMenu.png) repeat-x;
    }

    #logoContainer {
        float: left;
        width: 572px;
        height: 218px;
    }

    .child #logoContainer {
        float: left;
        width: 572px;
        height: 104px;
    }

        #logo {
            width: 506px;
            height: 71px;
            margin: 44px 0 0 47px;
            background: url(../images/logo.png) no-repeat;
        }

        .child #logo {
            width: 506px;
            height: 71px;
            margin: 17px 0 0 47px;
            background: url(../images/logo.png) no-repeat;
        }

        #tagLine {
            width: 422px;
            height: 41px;
            background: url(../images/tagLine.png) no-repeat;
            margin: 20px 0 0 136px;
        }

        .child #tagLine {
            display: none;
        }

    #photoContainer {
        float: right;
        width: 354px;
        height: 227px;
    }

    .child #photoContainer {
        display: none;
    }

#pageBody {
    width: 100%;
    background-color: #F0EFEE;
}

#pageBodyContentContainer {
    width: 958px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/bgPage.png) repeat-y;
}

#pageBodyContent {
    background: url(../images/bgContent.png) repeat-x;
    width: 940px;
    margin-left: 9px;
}

#leftContentContainer {
    width: 676px;
    float: left;
    padding: 12px;
}

#rightContentContainer {
    padding: 12px;
    width: 216px;
    float: right;
    min-height: 500px;
    background: url(../images/dividerLine.png) top left no-repeat;
}

#footer {
    width: 100%;
    background-color: #D3D4D1;
}

#footerContent {
    padding: 24px 0 0 36px;
    width: 958px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/bgFooter.png) top no-repeat;
}

#footerContent .footerCell {
    float: left;
    width: 33%;
}

#footerContent .footerCell ul {
    list-style-type: none;
}

#footerContent .footerCell ul li {
    padding: 3px 0 3px 0;
}

/***** MENU STYLES *****/

ul.horizMenu {
    list-style: none;
}

    ul.horizMenu li {
        display: block;
        float: left;
        background: url(../images/menuPointyThing.png) bottom right no-repeat;
        padding: 0 9px 0 9px;
        position: relative;
        z-index: 500;
    }

    ul.horizMenu li.last {
        background: none;
    }

    .menuBlackBar {
        padding-top: 15px;
    }

    .menuMain li {
        height: 37px;
    }

    .menuMain li a {
        display: block;
        padding-top: 10px;
    }

    #nav ul {
        position: absolute;
        left: 0;
        display: none;
        margin-top: 9px;
        padding: 0;
        list-style: none;
        z-index: 1000;
        background: #e9b05b;
        border: 1px solid #bd7710;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-radius-bottomright: 5px;
        -webkit-border-radius-bottomleft: 5px;

        -moz-box-shadow: 0px 3px 4px #ccc;
        -webkit-box-shadow: 0px 3px 4px #ccc;
        box-shadow: 0px 3px 4px #ccc;
    }

    #nav ul li {
        width: 250px;
        height: 24px;
        padding: 0;
        background: none;
    }

    #nav ul a {
        display: block;
        color: #000;
        padding: 3px 0 3px 6px;
        text-decoration: none;
    }

    ul.horizMenu ul a:hover {
        background: #227db7;
        color: #fff !important;
        text-decoration: none;
    }