

        /* submenu, it's hidden by default */
        #nav ul {
            position:absolute;
            left:0;
            display:none;
            margin:0 0 0 -1px;
            padding:0;
            list-style:none;
            z-index: 1000;
        }

        #nav ul li {
            width:100px;
            float:left;
            border-top:1px solid #fff;
        }

        /* display block will make the link fill the whole area of LI */
        #nav ul a {
            display:block;
            height:15px;
            padding: 8px 5px;
            color:#666;
        }

        #nav ul a:hover {
            text-decoration:underline;
        }