.ieSpacer {
	height: 11px;
}

#subMenuLinks {
	margin-left: 270px;
	height: 20px;
	margin-top: -28px;
	color: #384747;
}

.headerControls {
	float: right; 
	margin-top: -25px;
	margin-right: 25px;
}

#pageRightColumn {
	margin-top: -6px;
	width: 215px;
	height: 500px;
}

.spacerDiv {
	margin-top: -12px;
}

/***** SEARCH BOX STYLES *****/
.searchBox {
	margin-left: 0px;
}

.searchButton {
	 margin-top: -35px;
	 margin-left: 3px;
	 border: 0px;
	 width: 46px;
	 height: 23px;
}

#pageControls, #pageTitleContainer, #siteSearchContainer {
	margin-top: 1px;
}

/***** END SEARCH BOX STYLES *****/

.rightColHeader {
	width: 201px;	
	margin-left: 0px;
}

.rightColItemContainer {
	padding: 2px; 
	margin-left: 0px;
	width: 201px;
}

.calcText {
	width: 191px;	
}

/***** POP UP MENU STYLES *****/
.popUpDiv {
	margin-left: -33px;
}
/***** END POP UP MENU STYLES *****/

/*
 ****** BUTTON STYLES *****
 */
button.buttonExpand span.buttonOuterSpan {
     margin-top: 0;
}