body {
	background: #f6f6ec url("../images/bgPageMain.jpg") repeat-x top;
    padding-top: 60px;
}

#loginBox {
    margin-right: auto;
    margin-left: auto;
    width: 518px;
}

#loginBox .logo {
    text-align: center;
}

#loginBox .logo img {
    background: #fff;
    padding: 10px;
}

#loginBox .top {
    width: 518px;
    height: 47px;
    background: url("../images/bgLoginHeader.png") no-repeat;
}

#loginBox .top h1 {
    padding: 16px 0 0 20px;
}

#loginBox .middle {
    width: 518px;
    background: url("../images/bgLoginBody.png") repeat-y;
}

#loginBox .bottom {
    width: 518px;
    height: 33px;
    background: url("../images/bgLoginFooter.png") no-repeat;
}

h1 {
    font: 14pt arial;
    height: 30px;
    color: #4F6B04;
    text-decoration: none;
}

h2 {
    color: #333;
    font: 12pt arial;
    font-weight: bold;
}

input {
    font: bold 1.3em arial;
    border: 1px solid #c5c3c3;
	color: #333;
    background: url('../images/bgFormField.png') 0 1px repeat-x;
    padding: 3px;
    margin: 3px 0 3px 0;
}

.cpoLogo {
    background: url('../images/logoCPOmail.gif') no-repeat;
    width: 121px;
    height: 48px;
    margin-left: 37px;
}

.boxYellow {
	 border: 1px solid #F2BE23;
}

.barYellow, .boxYellow  {
	background: #FFFFD2;
	width: 100%;
}
	.barYellow p, .boxYellow p {
		padding: 5px;
	}

    .barYellow p.noPad, .boxYellow p.noPad {
        padding-left: 0px;
    }

	.barYellow.bottom {
		border-bottom: 1px solid #FBED89;
	}

	.barYellow.top {
		border-top: 1px solid #FBED89;
	}

    .boxYellowInner {
        border: 3px solid #FBED89;
        padding: 8px;
        background: #FFFFD2;
    }

    .boxYellow, .boxYellowInner {
        font: bold 1em arial !important;
    }

