/***** TEXT STYLES *****/

h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: #704505;
    padding-bottom: 12px;
}

h2, h2 a {
    font-size: 1.2em;
    font-weight: bold;
}

a {
    color: #237db7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #155a87;
}

.linkWhiteSmall {
    color: #e4e2e2;
    font-size: .9em;
    font-family: arial;
    text-decoration: none;
}

.linkWhiteSmall:hover {
    color: #e4e2e2;
    text-decoration: underline;
}

.linkRedSmall {
    color: #f90303;
    font-size: .9em;
    font-family: arial;
    text-decoration: none;
}

.linkRedSmall:hover {
    color: #f90303;
    text-decoration: underline;
}

.linkMainMenu, .linkMainMenu:hover {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
}

.subText {
    color: #999;
    font-size: .9em;
}

/***** OTHER STUFF *****/

.clear {clear:both}

.seachBar {
    border: none;
    background: url(../images/bgSearchBar.png) no-repeat;
    width: 160px;
    height: 38px;
    padding: 0px 9px 0 30px;
    color: #999;
    font-style: italic;
    margin: 2px 7px 0 38px;
    float: left;
}

.btnGo {
    float: left;
    width: 31px;
    height: 25px;
    background: url(../images/bgButtonGo.png) top no-repeat;
    margin-top: 7px;
    cursor: pointer;
}

.mBottom6 {
    margin-bottom: 6px;
}

.mTop6 {
    margin-top: 6px;
}

.mBottom12 {
    margin-bottom: 12px;
}

.mTop12 {
    margin-top: 12px;
}

.mBottom18 {
    margin-bottom: 18px;
}

.mTop18 {
    margin-top: 18px;
}

.center {
    text-align: center;
}

.arrow {
    display: inline-block;
    background: url(../images/iconArrow.png) left no-repeat;
    padding-left: 12px;
}

.arrow.right {
    background: url(../images/iconArrow.png) right no-repeat;
    padding-left: 0;
    padding-right: 12px;
    margin-right: 8px;
}

.resourceContainer {
    margin: 18px 0 18px 12px;
}

/*
 ***** BOXES AND LISTS *****
 */

.boxBlue {
	border: 1px solid #bddbf9;
    background: #ebf4fd;
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.fileUploadBox {
    border: 2px dashed #bddbf9;
    background: #ebf4fd;
    margin: 12px 0 12px 0;
    padding: 12px 0 12px 0;
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.boxBlue p {
    padding: 12px;
}

ul.categories {
    margin: 12px;
    list-style-type: none;
    margin-left: 24px;
}

ul.categories li {
    padding-bottom: 3px;
}

ul.categories li a {
    font-size: 1.2em;
    font-weight: bold;
}

/***** FORM STYLES *****/

form p {
	padding: 6px 12px 6px 0;
	margin-right: 3px;
}

label {
    font: bold 1em arial;
    display: block;
    float: left;
    width: 250px;
    color: #333;
    letter-spacing: 1px;
    padding-right: 15px;
    text-align: right;
}

.hide {
    display: none;
}



