@CHARSET "ISO-8859-1";

/*
 ***** TAG LEVEL DEFINITIONS *****
 */

body {
	background: #E4E5D2;	
}

b, strong {
	font-weight: bold;
}

u {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

em, i {
	font-style: italic;
}

h1 {
	font: bold 1.8em arial;
	color: #333;
	padding: 0px;
	margin: 0px;
}

h2, .dataTable tfoot tr, .bigText {
	font: bold 1.2em arial;
}

h2 span {
    font: inherit;
}

h3 {
	color: #000;
	font: bold 14px arial;
}

	h3 a {
		font: inherit;
	}
	
	h3 a:hover {
		font: inherit;
	}

h4, h4 span {
	font: bold 1.2em arial;
	color: #333;
}

h5 {
	font: italic bold 2.5em arial;
	color: #eee;
	text-transform: uppercase;
}

p.label, .label {
	font: italic bold 1em arial;
	color: #ccc;
	text-transform: uppercase;
}

hr {
     height: 1px;
     background: #ccc;
     border: none;
}

.hugeTextEntry {
    font-size: 2.5em;
    font-weight: bold;
}

.chartAxis1 {
    display: inline-block;
    width: 30px;
    text-align: center;
}

article p, article h1 {
    margin-bottom: 12px;
}

/***** BOXES AND BARS ****************************************************/

.windowFrame {
	width: 100% !important;
    border-top: 2px solid #fff;
	background: #fff url(../images/bgWindow.gif) repeat-x top left;
}

.hide {
	display: none;
}

#loginBox {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.boxBlue {
	border: 1px solid #bddbf9;
}

.fileUploadBox {
    border: 2px dashed #bddbf9;
    background: #ebf4fd;
    width: 95%;
    margin: 12px 0 12px 0;
    min-height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 9px;
    font-weight: bold;
}

.fileUploadBox.hover {
    border: 2px dashed #FBED89;
    background: #FFFFD2;
    cursor: url('../images/icons/fileUploadDrop.png'), auto;
}

.barBlue, .boxBlue {
	background: #ebf4fd;
	width: 100%;	
}
	.barBlue p, .boxBlue p {
		padding: 5px;
	}

    .barBlue p.noPad, .boxBlue p.noPad {
        padding-left: 0px;
    }

	.barBlue.bottom {
		border-bottom: 1px solid #bddbf9;
	}

.boxGray {
    background: #fafaf5;
    border: 1px solid #e8e7d6;
}   

.boxYellow {
	 border: 1px solid #F2BE23;
}

.barYellow, .boxYellow  {
	background: #FFFFD2;
	width: 100%;
}
	.barYellow p, .boxYellow p {
		padding: 5px;
	}

    .barYellow p.noPad, .boxYellow p.noPad {
        padding-left: 0px;
    }

	.barYellow.bottom {
		border-bottom: 1px solid #FBED89;
	}

	.barYellow.top {
		border-top: 1px solid #FBED89;
	}

    .boxYellowInner {
        border: 3px solid #FBED89;
        padding: 8px;
        background: #FFFFD2;
    }

    .boxYellow, .boxYellowInner {
        font: bold 1em arial !important;
    }

.boxGradientGray {
   background: #fff url("../images/headerBG3.gif") repeat-x top;
   -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
   border: 1px solid #E6E1E1;
}

.elementHilite {
     background: #FBED89;
}

.bottomBorderGray {
    border-bottom: 1px solid #e8e7d6;
}

/***** LINK STYLES *******************************************/

a {
	color: #003399;
    font-size: inherit;
	text-decoration: none;
}

a:hover {
	color: #CC6600;
	font-size: inherit;
	text-decoration: none;
}

a.folderCrumb {
    font-weight: bold;
}

.bigLink {
	color: #003399;
	text-decoration: none;
	font: bold 1.7em arial;
}

.bigLink:hover {
	text-decoration: none;
	color: #618FEB;
}

.emphLink {
    border-bottom: 1px dashed #777;
}

.grayLink-allCaps {
    text-transform: uppercase;
    color: #999;
    font-size: .9em;
    font-weight: bold;
}

.grayLink-allCaps:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: #999;
    font-size: .9em;
    font-weight: bold;
}

.breadCrumb {
    font-weight: bold;
    font-size: 1.1em;
}

/*
 ***** WINDOWS HEADERS ********************************************************
 */

.widgetHead {
	width: 100%;
	height: 28px;
	background: url("../images/bgWindowHeaderGreen.png") repeat-x right top;
	text-align: left;
    cursor: move;
}

	.widgetHead h3 {
		font: bold 1.2em arial;
		color: #333;
		padding-top: 9px;
	}
	
	.widgetControls {
		float: right;
		width: 38px;
		margin-top: 9px;
		margin-right: -2px;
		border-right: 1px solid #dad6ca;
	}
	
	.widgetControls a {
		display: inline-block;
		width: 19px;
		height: 18px;
	}
	
	.widgetControls a span {
	}
	
	.widgetControls .remove {		
		background: url("../images/buttonWindowClose.gif") 0 0 no-repeat;
	}
	
	.widgetControls .collapsible {
		background: url("../images/buttonWindowToggle.gif") 0 -18px no-repeat;
	} 
	
	.widgetListActive {
		padding: 2px 0 2px 24px;
		color: #989696;
		display: none;
	}

    .activateWidget {
        padding: 2px 0 2px 24px;
    }

    .widgetContent {
        border: 1px solid #DFDCDC;
    }

	.widgetContent p {
		padding: 6px;
		min-height: 100px;
	}

	.widgetIcon_rss,.widgetIcon_bugs,.widgetIcon_quotes,.widgetIcon_projects,
	.widgetIcon_notes,.widgetIcon_invoices,.widgetIcon_tasks,.widgetIcon_reports,
	.widgetIcon_calendar,.widgetIcon_messages,.widgetIcon_delicious,.widgetIcon_search,
	.widgetIcon_timer
	{
		padding-left: 40px;
		margin-top: 1px;
		height: 28px;		
		float: left;	
	}	

	.widgetIcon_rss {
		background: url(../images/windowIconRSS.gif) no-repeat left;
	}
	
	.widgetIcon_bugs {
		background: url(../images/windowIconBugs.gif) no-repeat top left;
	}
	
	.widgetIcon_quotes {
		background: url(../images/windowIconQuotes.gif) no-repeat top left;
	}
	
	.widgetIcon_projects {
		background: url(../images/windowIconProjects.gif) no-repeat top left;
	}

	.widgetIcon_notes {
		background: url(../images/windowIconNotes.gif) no-repeat top left;
	}
	
	.widgetIcon_invoices {
		background: url(../images/windowIconInvoices.gif) no-repeat top left;
	}
	
	.widgetIcon_tasks {
		background: url(../images/windowIconTasks.gif) no-repeat top left;
	}

	.widgetIcon_reports {
		background: url(../images/windowIconReports.gif) no-repeat top left;
	}
	
	.widgetIcon_calendar {
		background: url(../images/windowIconCalendar.gif) no-repeat top left;
	}
	
	.widgetIcon_messages {
		background: url(../images/windowIconMessages.gif) no-repeat top left;
	}
	
	.widgetIcon_delicious {
		background: url(../images/windowIconDelicious.gif) no-repeat top left;
	}
	
	.widgetIcon_search {
		background: url(../images/windowIconSearch.gif) no-repeat top left;
	}

	.widgetIcon_timer {
		background: url(../images/windowIconJobTimer.gif) no-repeat top left;
	}

.windowHead, .ui-datepicker-header {
	width: 100%;
	height: 20px;
	background: url(../images/bgGreenBar.gif) repeat-x top left;	
}

.ui-dialog-titlebar {
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	padding-top: 5px;
	height: 20px;
	background: url(../images/bgGreenBar.gif) repeat-x top left;
}

.windowHeadTitle, .ui-dialog-title {
	font: bold 1.2em arial;
	padding-left: 6px;
}

.windowHeadUpdates {
	padding-left: 45px;	
	padding-top: 3px;
	font-family: verdana;
	font-size: 1em;
	font-weight: bold;
	color: #333;
	background: url(../images/iconWindowUpdates.gif) no-repeat top left;
}

.windowHeadEvents {
	padding-left: 45px;	
	padding-top: 3px;
	font: bold 1em arial;
	color: #333;
	background: url(../images/iconWindowEvents.gif) no-repeat top left;
}

/*
 ***** TABLE AND DATA STYLES ********************************************************
 */

.dataTable {
       border-collapse: collapse;
       width: 100%;
       background: #fff;
}

.dataTable.stripes tr {
    border-bottom: 1px solid #e8e7d6;
}

.dataTable tr td {
       padding: 3px;
	   text-align: left;
	   min-height: 27px;
}

.dataTable thead tr th {
    border-bottom: 1px solid #d8d8da;
	background: url(../images/bgTabGrayBlue.gif) 100% 0 repeat-x;
    min-height: 18px;
}

	.dataTable thead tr th.sortHeaderHover {
	    background-position: 100% -26px;
		border-bottom: 1px solid #7db5f7;
	}

.dataTable thead th {
	font: bold 1em arial;
    text-align: left;
    padding: 4px;
}

.dataTable tfoot td, .dataTable tfoot td span {
    font: bold 1.1em arial;
}

.dataTable tfoot tr {
    background: #FFFFD2;
	border-bottom: 2px solid #FBED89;
    min-height: 23px;
}

.dataTable tfoot tr.plain, .dataTable tfoot tr.plain td {
    background: #fff;
	border: none;
	height: 1em;
	font: normal 1em arial;
}

div.row, div.roomRow {
	min-height: 24px; 
	width: 100%;
	padding: 6px 0 6px 0;
	border-bottom: 1px solid #e8e7d6;
}

div.row.active, div.roomRow.active {
    background-color: #fff166;
    border-bottom: 1px solid #ffcc00;
}

.oddRow {
    background: #fafaf5;
    border-top: 1px solid #e8e7d6;
    border-bottom: 1px solid #e8e7d6;
}

.evenRow {
	border: none;
	background: #fff;
}

.altRow2 {
       background: url("../images/headerBG3.gif") repeat-x top;
       border-top: 2px solid #E6E1E1;
	   padding-top: 5px;
	   padding-bottom: 5px;
}

.rowLines {
    border-top: 1px solid #e8e7d6;
    border-bottom: 1px solid #e8e7d6;
}

.hoverRow {
	/*background: #E7F0FE !important;*/
    background: #f6f6ec !important;
}

.blueRow {
	background: #E7F0FE !important;
}

.altRowStripes {
       background: #fff;
       border-top: 2px solid #E6E1E1;
       border-bottom: 2px solid #E6E1E1;
}

.rowStripesOnly {
       background: #fff url("../images/bgRowStripesOnly.gif") repeat-x top;
       border-top: 2px solid #fff;
       border-bottom: 2px solid #E6E1E1;
}

.withBorder {
    border: 1px solid #E6E1E1;
}

.noBorder {
    border: none !important;
}

.colLeft {
       text-align: right;
       padding-right: 10px;
}

table.layout {
    width: 100%;
}

table.layout td {
	padding: 4px;
}

table.infoDisplay {
	width: 100%;
}

table.infoDisplay td.left {
	font: italic bold 1em arial;
	color: #999;
	text-transform: uppercase;
	vertical-align: top;
	text-align: right;
	padding: 3px;
}

table.infoDisplay td.right {
	font: bold 1em arial;
	padding: 3px;
}

td .td_hide_overflow {
	overflow: hidden;
	white-space: nowrap;
}

/*
 ****** GOOGLE MAP STYLE *****
 */

#clientMap {
	width: 675px;
	height: 560px;
	margin-top: 10px;
	border-top: 1px solid #D7D8C6;
}

.clickable {
	cursor: pointer;
}

.popupWindow {
	z-index: 999;
	position: absolute;
	background: #000;
	height: 300px;
}

.rowClick {
	background: #003399;
}

/*
 ****** TEXT STYLES ***** 
 */
.subText, a.subText {
	color: #777;
	font: normal 11px arial;
	letter-spacing: 0;
}

a.subText:hover {
    text-decoration: underline;
}
.subText.black {
	color: #000;
}

.deleted {
    color: #777 !important;
    text-decoration: line-through;
}

/*
 ****** UL STYLES ****** 
 */
 ul {
    font: 1em arial;
    list-style-type: disc;
    list-style-position: inside;
 }

 ol {
    font: 1em arial;
    list-style-position: inside;
 }

.ULStandard li {
	list-style-image: url("../images/icons/bullet_red.gif");
	padding: 2px;
}

ul.plain {
    list-style-image: url("../images/icons/bullet.gif");
    list-style-position: outside;
}

ul.plain li {    
    margin-left: 24px;
}

.liFocus {
	background: #E7F0FE;
}

ul.categoryList {
	list-style: none;
}

ul.categoryList li {
	margin: 3px;
	height: 23px;
}

ul.alphaList {
    list-style: none;
}

ul.alphaList li {
    border-bottom: 1px solid #e8e7d6;
	margin: 3px 0 3px 0;
}

ul.alphaList li .letter {
	width: 20px;
	text-align: top;
	color: #ccc;
	font: bold 1.1em arial;
}

ul.alphaList li .content {
	width: 160px;
}

ul.fileListBlock, ul.fileListDetail {
	list-style: none;
	display: inline;
    margin-top: 12px;
}

	ul.fileListBlock li.itemContainer {
		float: left;
		display: inline-block;
		width: 95px;
		height: 95px;
		margin: 3px;
		border: 2px solid #e8e7d6;
		padding: 3px;
		overflow: hidden;
		cursor: pointer;
        background-color: #fff;
	}

    ul.fileListBlock li.fileLinkContainer {
        min-height: 25px;
        overflow: hidden;
    }

	ul.fileListBlock li.itemContainer p {
		margin-top: 60px;
		font-size: .9em;
		line-height: 1em;
		text-align: center;
	}

	ul.fileListBlock li.selected, ul.fileListDetail li.selected {
		border: 2px solid #bddbf9 !important;
        background-color: #ebf4fd !important;
	}

    ul.fileListBlock li.active, ul.fileListDetail li.active {
		border: 2px solid #F2BE23 !important;
        background-color: #FFFFD2 !important;
	}

    ul.fileListBlock li.itemContainer p.fileDetails {
        display: block;
    }

    ul.fileListDetail li.itemContainer {
        width: 43%;
        overflow: hidden;
        display: inline-block;
        background-position: top left;
        background-color: #fff;
        border: 2px solid #fff;
        padding: 2px 1px 2px 45px;
        float: left;
        min-height: 48px;
        margin: 0 0 18px 12px;
        cursor: pointer;
    }

    ul.fileListDetail li.folderContainer {
        width: 40%;
    }

    ul.fileListDetail li .smallButtonCluster {
        width: 50px !important;
    }

    ul.fileListDetail li.itemContainer p.fileDetails {
        display: block;
        font-size: .9em;
    }

    ul.fileListDetail li.itemContainer p.fileDetails span.title {
        font-size: inherit;
        font-weight: bold;
    }

    ul.fileListDetail li.fileLinkContainer {
        overflow: auto;
    }

    ul.fileListDetail li.itemContainer p {
        font-size: 1em;
        text-align: left;
    }

    ul.fileListDetail li.itemContainer p.title {
        font-size: 1em;
        font-weight: bold;
    }

    ul.fileListDetail li.thumbnailContainerNoBG {
        background: none !important;
        padding-left: 10px !important;
    }

ul.fileList, ul.noBullet {
	list-style: none;
}
	ul.fileList li {
		min-height: 20px;
		padding-top: 2px;
	}

	ul.fileList .linkContainer {
		overflow: hidden;
	}

    ul.fileList li.fileLinkContainer {
        overflow: hidden;
        width: 100%;
    }

.fileInfoContainer {
    min-height: 50px;
    padding-left: 45px;
    margin: 12px 0 12px;
    background-position: left;
}

ul.iconList li {
    padding: 3px 0 3px 24px;
}

ul.listLined {
	list-style-type: none;
}

ul.listLined li {
	border-bottom: 1px solid #DFDCDC;
	padding: 3px 0 3px 0;
}

ul.language li {
    list-style-image: url("../images/icons/balloon_gray.png");
    padding: 1px 0 1px 0;
}

ul.language li.active {
    list-style-image: url("../images/icons/balloon.png");
    padding: 1px 0 1px 0;
    font-weight: bold;
}

ul.fileTree li {
    cursor: pointer;
    min-height: 0px !important;
	padding-top: 0px !important;
}

ul.fileTree li.hover {
    background-color: #BDF;
}

ul.dropDownMenu {
    display: none;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-topright: 5px;
    -webkit-border-radius-bottomright: 5px;
    -webkit-border-radius-bottomleft: 5px;
    border: 1px solid #bddbf9;
    background-color: #ebf4fd;
    padding: 6px;
    list-style-type: none;
}

    ul.dropDownMenu li {
        margin-bottom: 3px;
    }

/*
 ****** JOB TIMER STYLES *****
 */
.timerClockReadout, .timerClockReadout:hover {
	font: bold 20px arial;
	color: #333;
	padding-left: 30px;
	text-decoration: none;
}

/*
 ****** SWF UPLOAD STYLES *****
 */
.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 3px;
	padding: 3px;
	border: solid 1px #bddbf9;
	background-color: #ebf4fd;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}

.progressName {
	font: bold .9em arial;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 4px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: .8em;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	display: block;
	height: 10px;
	width: 10px;
	background-image: url(../images/icons/deleteSmall.png) no-repeat !important;
	float: right;
}

/*
 ***** FILE MANAGER USAGE METER
 */
.fileManagerMeter {
    width: 200px;
    height: 20px;
    border: 1px solid #e1dfdf;
    background: #eee;
}

.fileManagerMeterBar {
    height: 20px;
    background: url(../images/bar1BG.gif) repeat-x;
}

.fileManagerMeterText {
	padding: 1px 0 1px 0;
}

/*
 ***** AVATAR STYLES *****
 */
.avatar80 {
	width: 80px;
	height: 80px;
    display: block;
}

.avatar80.left {
    float: left;
    margin-right: 6px;
}
.avatar80.default {
	background: url(../images/avatars/stockAvatar80.png) no-repeat;
}

.avatar46 {
	width: 46px;
	height: 46px;
    display: block;
}
.avatar46.left {
    float: left;
    margin-right: 6px;
}
.avatar46.default {
	background: url(../images/avatars/stockAvatar46.png) no-repeat;
}

.avatar33 {
	width: 33px;
	height: 33px;
    display: block;
}
.avatar33.left {
    float: left;
    margin-right: 6px;
}
.avatar33.default {
	background: url(../images/avatars/stockAvatar33.png) no-repeat;
}

.avatar22 {
	width: 22px;
	height: 22px;
    display: block;
}
.avatar22.left {
    float: left;
    margin-right: 6px;
}
.avatar22.default {
	background: url(../images/avatars/stockAvatar22.png) no-repeat;
}

.colorBlock {
	display: inline-block;
	width: 12px;
	height: 10px;
	margin: 4px 6px 0 0;
	border: 1px solid #666;
}

.colorBlock.big {
	width: 20px;
	height: 15px;
	margin: 3px;
}

.colorBlock.off {
	background: #eee !important;
	border: 1px solid #ccc;
}

.colorBackground {
	padding: 3px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.colorBackground.status {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
}

.taskOff {
    display: none;
}

.scrollerHeadline {
    position: absolute;
    top: 210px;
	height: 195px;
	width: 95%;
}

.inventoryTotalBG {
    width: 227px;
    height: 84px;
    background: url(../images/inventoryTotalBG.png) no-repeat;
    margin-left: -6px;
    text-align: center;
}

.inventoryTotalBG h2 {
    font-weight: normal;
    margin: 6px 0 0 6px;
    font-size: 26px;
    color: #265a41;
    text-shadow: 1px 1px 1px #f6f3f3;

}

.mBottom12 {
    margin-bottom: 12px;
}
.mBottom6 {
    margin-bottom: 6px;
}
.mTop12 {
    margin-top: 12px;
}
.mTop6 {
    margin-top: 6px;
}