/*
 ***** TAG LEVEL DEFINITIONS *****
 */

body {
	background: #fff;
}

p, div, span, li, b, strong, em, i {
    font-size: 14px !important;
    line-height: 22px;
    color: #333;
}

b, strong {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

h1, .biggerText {
	font: 2.3em arial;
	color: #333;
	padding: 0px;
	margin: 0px;
}

    h1 a {
		font: inherit;
		color: inherit;
		text-decoration: none;
	}

	h1 a:hover {
		font: inherit;
		color: inherit;
		text-decoration: underline;
	}

h2 {
    font-family: 'Droid Sans', arial;
	font-size: 1.5em;
    line-height: 24px;
    margin-bottom: 6px;
}

#footerBarBlue h2 {
    font-family: 'Droid Sans', arial;
    text-shadow: #0b4170 2px 2px 4px;
	font-size: 1.9em;
    line-height: 24px;
    color: #fff;
}

.dataTable tfoot tr, .bigText {
    font: bold 1.3em arial;
}

h2.underline {
    border-bottom: 1px solid #ccc;
}

h3, .mediumText {
	color: #333;
	font: bold 14px arial;
}

	h3 a {
		font: inherit;
		color: inherit;
		text-decoration: none;
	}

	h3 a:hover {
		font: inherit;
		color: inherit;
		text-decoration: underline;
	}

h4, h4 span {
	font: bold 1.2em arial;
	color: #333;
}

h5 {
	font: italic bold 2.5em arial;
	color: #eee;
	text-transform: uppercase;
}

.brown, .brown a, .brown a:hover {
    color: #5A3711;
}

.white {
    color: #FFFFFF;
}

.blue {
    color: #2E72A8;
}

.gray {
    color: #CCCCCC;
}

.gray2 {
    color: #999999;
}

.subText, a.subText {
	color: #777;
	font: normal 11px arial;
	letter-spacing: 0;
}

p.text, .text p {
    margin-bottom: 18px;
}

hr {
     height: 1px;
     background: #ebe8e8;
     border: none;
}

a {
    color: #2E72A8;
    text-decoration: none;
    font-size: inherit;
}

a:hover {
    color: #72addd;
    text-decoration: underline;
}

.h2link {
    font: 1.7em arial;
    text-decoration: none;
}

ol, ul {
    margin-left: 20px;
}

span {
    font: inherit;
    color: inherit;
}

article p, article h1 {
    margin-bottom: 12px;
}

/* LAYOUT STYLES */
#header {
    width: 100%;
}

    #header.home {
        height: 424px;
    }

    #header.child {
        height: 169px;
    }

    #header .blackBar {
        height: 80px;
        background: url('../images/bgHeaderBlack_public.png') repeat-x;
    }

    #header .homeFieldBlue {
        z-index: -9000;
        height: 344px;
        background: url('../images/bgHomeFieldBlue_public.png') repeat-x;
    }

    #header .homeFieldBluePublic {
        height: 89px;
        background: url('../images/bgHeaderChild_public.png') repeat-x;
    }

    #header .content, #footer .content, #footerBarBlue .content {
        width: 950px;
		margin-left: auto;
		margin-right: auto;
    }

    #footer .content {
        padding-top: 18px;
    }

    #footer .content h3 {
        padding-bottom: 6px;
    }

    #header #screenShotContainer {
        width: 548px;
        height: 344px;
        background: url('../images/screenshots/homeScreenshot1.png') 0 19px no-repeat;
        float: left;
    }

    #header #screenShotContainer2 {
        width: 548px;
        height: 344px;
        background: url('../images/screenshots/homeScreenshot2.png') 0 -11px no-repeat;
        float: left;
    }

    #header #screenShotContainer3 {
        width: 530px;
        height: 332px;
        background: url('../images/screenshots/homeScreenshot3.png') bottom no-repeat;
        float: left;
    }

    #header #infoContainer {
        float: left;
        width: 402px;
        height: 344px;
        background: url('../images/homeClouds_public.png') 10px 200px no-repeat;
    }

    #header #infoContainer .textContainer {
        width: 402px;
        height: 260px;
        background: url('../images/screenshots/homeText1.png') 12px 22px no-repeat;
    }

    #header .headerTextContainer {
        width: 750px;
        height: 88px;
        float: left;
    }

    #header .userAvatarContainer {
        float: right;
        margin-top: 60px;
        margin-right: 1px;
    }
    #header .userAvatarContainer p, #header .userAvatarContainer img {
        color: #fff;
        float: left;
        margin-right: 7px;
    }

    #header .userAvatarContainer img {
        border: 1px solid #fff;
    }

.avatar22 {
	width: 22px;
	height: 22px;
    display: block;
}
.avatar22.left {
    float: left;
    margin-right: 6px;
}
.avatar22.default {
	background: url(../images/avatars/stockAvatar22.png) no-repeat;
}
.avatar33 {
	width: 33px;
	height: 33px;
    display: block;
}
.avatar33.left {
    float: left;
    margin-right: 6px;
}
.avatar33.default {
	background: url(../images/avatars/stockAvatar33.png) no-repeat;
}
.avatar46 {
	width: 46px;
	height: 46px;
    display: block;
}
.avatar46.left {
    float: left;
    margin-right: 6px;
}
.avatar46.default {
	background: url(../images/avatars/stockAvatar46.png) no-repeat;
}
.avatar46background {
    display: block;
    float: left;
    width: 49px;
	height: 49px;
	background: url(../images/avatars/avatarBG46.png) bottom right no-repeat;
}

.blogAvatar {
    float: left;
    display: inline-block;
    border: 1px solid #333;
    margin-right: 12px;
}

.logoMain {
    display: block;
    width: 298px;
    height: 80px;
    background: url('../images/logo.png') 0 -8px no-repeat;
    border: none;
    float: left;
}

.iconPrivateBeta {
    float: left;
    background: url('../images/iconPrivateBeta.png') no-repeat;
    width: 86px;
    height: 29px;
    margin: 45px 0 0 9px;
}

.iconPublicBeta {
    float: left;
    background: url('../images/iconPublicBeta.png') no-repeat;
    width: 86px;
    height: 29px;
    margin: 45px 0 0 9px;
}

#menuContainer {
	height: 80px;
    float: left;
    width: 744px;
}

.headerAvatar {
    float: right;
    min-height: 22px;
    background: url('../images/avatars/stockAvatar22.png') no-repeat right;
    padding-right: 30px;
    margin: 2px 8px;
    padding-top: 4px;
    color: #fff;
}

.headerAvatar.default {
    background: none;
}

.headerAvatar img {
    margin-left: 4px;
    border: 1px solid #fff;
    background: url('../images/avatars/stockAvatar22.png') no-repeat right;
}

.popupContainer {
    padding: 12px;
    width: 570px;
}

.headerAvatar a {
    color: #fff;
    text-decoration: underline;
}

.headerAvatar a:hover {
    color: #61CBDE;
    text-decoration: underline;
}

#homeFieldButtonContainer {
    z-index: 1000;
    position: absolute;
    margin: 216px 0 0 565px;
}

.homeBG {
    width: 950px;
    height: 332px;
    margin-top: 12px;
}

.homeBG1 {
    background: url('../images/headerImages/homeImage1.png') left no-repeat;
}

.homeBG2 {
    background: url('../images/headerImages/homeImage2.png') left no-repeat;
}

.homeBG3 {
    background: url('../images/headerImages/homeImage3.png') left no-repeat;
}

.homeClouds {
    width: 447px;
    height: 107px;
    background: url('../images/headerImages/homeClouds.png') left no-repeat;
    margin: 10px 0 0 20px;
}

.footerClouds {
    height: 107px;
    background: url('../images/headerImages/homeClouds.png') right no-repeat;
}

.buttonProductTour {
    width: 171px;
    height: 47px;
    float: left;
    margin: 0 30px 0 7px;
    background: url('../images/buttonProductTour_public.png') no-repeat;
}

.buttonSignup {
    width: 171px;
    height: 47px;
    float: left;
    background: url('../images/buttonPricingAndSignup_public.png') no-repeat;   
}

.buttonSignupNow {
    width: 189px;
    height: 63px;
    float: left;
    background: url('../images/buttonSignUpNow.png') no-repeat;
}

.buttonTryItNow {
    width: 171px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: url('../images/btnTryItNowFree.png') no-repeat;
}

.buttonProductTour span, .buttonTryItNow span, .buttonSignup span, .buttonNewAccount span, .buttonLetsGetGoing span, .buttonConfirmPayment span, .buttonConfirmAccountChange span {
    display: none;
}

.buttonLetsGetGoing {
    width: 171px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: url('../images/buttonLetsGetGoing.png') no-repeat;
}

.buttonNewAccount {
    display: block;
    width: 210px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: url('../images/buttonCreateNewAccount_public.png') no-repeat;
}

.buttonConfirmPayment {
    display: block;
    width: 181px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: url('../images/buttonConfirmPayment.png') no-repeat;
}

.buttonConfirmAccountChange {
    display: block;
    width: 235px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: url('../images/buttonConfirmAccountChange.png') no-repeat;
}

.buttonStartInstallation {
    display: block;
    width: 171px;
    height: 47px;
    border: none;
    cursor: pointer;
    background: url('../images/buttonStartInstallation.png') no-repeat;
}

button:active, .buttonSignup:active, .buttonSignup:focus,
.buttonProductTour:active, .buttonProductTour:focus,
.buttonTryItNow:active, .buttonTryItNow:focus,
button.buttonLetsGetGoing:active, button.buttonLetsGetGoing:focus,
.buttonNewAccount:active, .buttonNewAccount:focus {
    outline: none;
    -moz-outline-style: none;
}

/***** MAIN MENU STYLES *****/

#menuMain {
    float: right;
    height: 31px;
    list-style: none;
    width: 465px;
    margin-top: 18px;
}

#mainMenu li {
    float: left;
    display: inline;
}

#menuMain li a.buttonMainMenu {
    background: transparent url('../images/bgMainMenuItemRight.png') no-repeat scroll top right;
    float: left;
    padding-right: 11px;
    margin: 3px 6px;
    display: block;
    text-decoration: none;
}

#menuMain li a.buttonMainMenu span {
    background: transparent url('../images/bgMainMenuItemLeft.png') no-repeat;
    color: #fff;
    font: bold 15px Arial, sans-serif;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 11px;
}

#menuMain li a.buttonMainMenu:hover, #menuMain li:hover a.buttonMainMenu {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

#menuMain li a.buttonMainMenu:hover span, #menuMain li:hover a.buttonMainMenu span {
    background-position: bottom left;
    color: #333;
}

a.orangeButton {
    background: transparent url('../images/bgMainMenuItemRight.png') no-repeat scroll bottom right;
    float: left;
    padding-right: 11px;
    display: block;
    text-decoration: none;
}

a.orangeButton span {
    background: transparent url('../images/bgMainMenuItemLeft.png') no-repeat bottom left;
    color: #333;
    font: bold 15px Arial, sans-serif;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 11px;
}

a.greenButton {
    background: transparent url('../images/bgButtonGreen2Right.png') no-repeat scroll bottom right;
    float: left;
    padding-right: 11px;
    display: block;
    text-decoration: none;
}

a.greenButton span {
    background: transparent url('../images/bgButtonGreen2Left.png') no-repeat bottom left;
    color: #333;
    font: bold 15px Arial, sans-serif;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 11px;
}

a.darkOrangeButton {
    background: transparent url('../images/bgButtonOrange2Right.png') no-repeat scroll bottom right;
    float: left;
    padding-right: 11px;
    display: block;
    text-decoration: none;
}

a.darkOrangeButton span {
    background: transparent url('../images/bgButtonOrange2Left.png') no-repeat bottom left;
    color: #333;
    font: bold 15px Arial, sans-serif;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 11px;
}

a.blueButton {
    background: transparent url('../images/bgButtonBlueRight.png') no-repeat scroll bottom right;
    float: left;
    padding-right: 11px;
    display: block;
    text-decoration: none;
}

a.blueButton span {
    background: transparent url('../images/bgButtonBlueLeft.png') no-repeat bottom left;
    color: #333;
    font: bold 15px Arial, sans-serif;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 11px;
}

a.redButton {
    background: transparent url('../images/bgButtonRed2Right.png') no-repeat scroll bottom right;
    float: left;
    padding-right: 11px;
    display: block;
    text-decoration: none;
}

a.redButton span {
    background: transparent url('../images/bgButtonRed2Left.png') no-repeat bottom left;
    color: #333;
    font: bold 15px Arial, sans-serif;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 11px;
}

/***** BOXES AND STUFF ******/

.whiteBoxTop_615 {
    width: 615px;
    height: 5px;
    background: transparent url('../images/615pxBoxTop.png') no-repeat;
}

.whiteBoxBottom_615 {
    width: 615px;
    height: 10px;
    background: transparent url('../images/615pxBoxBottom.png') no-repeat;
}

.whiteBoxContentContainter_615 {
    width: 615px;
    background: transparent url('../images/615pxBoxBG.png') repeat-y;
    padding: 0 6px 0 5px;
}

.whiteBoxTop_430 {
    width: 435px;
    height: 5px;
    background: transparent url('../images/430pxBoxTop.png') no-repeat;
}

.whiteBoxBottom_430 {
    width: 435px;
    height: 10px;
    background: transparent url('../images/430pxBoxBottom.png') no-repeat;
}

.whiteBoxContentContainter_430 {
    width: 435px;
    background: transparent url('../images/430pxBoxBG.png') repeat-y;
    padding: 0 6px 0 5px;
}

.whiteBoxTop_300 {
    width: 314px;
    height: 5px;
    background: transparent url('../images/300pxBoxTop.png') no-repeat;
}

.whiteBoxBottom_300 {
    width: 314px;
    height: 10px;
    background: transparent url('../images/300pxBoxBottom.png') no-repeat;
}

.whiteBoxContentContainter_300 {
    width: 314px;
    background: transparent url('../images/300pxBoxBG.png') repeat-y;
    padding: 0 6px 0 5px;
}

.whiteBoxContent_300 {
    background: transparent url('../images/bgGradientGray.png') repeat-x top;
    width: 288px;
    padding: 6px;
}

.homePageFeatureBox {
    width: 300px;
    float: left;
}

.homePageFeatureBox.left {
    margin-right: 12px;
}

.homePageFeatureBox div {
    padding-left: 65px;
    min-height: 100px;
    margin-bottom: 24px;
}

.homePageFeatureBox div.simple {
    background: transparent url('../images/icons/iconSimple_public.png') no-repeat top left;
}

.homePageFeatureBox div.export {
    background: transparent url('../images/icons/iconExport_public.png') no-repeat top left;
}

.homePageFeatureBox div.insurance {
    background: transparent url('../images/icons/iconInsurance_public.png') no-repeat top left;
}

.homePageFeatureBox div.fileshare {
    background: transparent url('../images/icons/iconFileShare_public.png') no-repeat top left;
}

.homePageFeatureBox div.nosoftware {
    background: transparent url('../images/icons/iconNoSoftware_public.png') no-repeat top left;
}

.homePageFeatureBox div.security {
    background: transparent url('../images/icons/iconSecurity_public.png') no-repeat top left;
}

.homePageFeatureBox div.reports {
    background: transparent url('../images/icons/iconReports_public.png') no-repeat top left;
}

.homePageFeatureBox div.users {
    background: transparent url('../images/icons/iconUsers_public.png') no-repeat top left;
}

.homePageFeatureBox div.contacts {
    background: transparent url('../images/icons/iconContacts_public.png') no-repeat top left;
}

.homePageFeatureBox div.chat {
    background: transparent url('../images/icons/iconChat_public.png') no-repeat top left;
}

.homePageFeatureBox div.rss {
    background: transparent url('../images/icons/iconRSS_public.png') no-repeat top left;
}

.homePageFeatureBox div.messages {
    background: transparent url('../images/icons/iconMessages_public.png') no-repeat top left;
}

.homePageFeatureBox div.projects {
    background: transparent url('../images/icons/iconProjects_public.png') no-repeat top left;
}

.homePageFeatureBox div.search {
    background: transparent url('../images/icons/iconSearch_public.png') no-repeat top left;
}

.homePageFeatureBox div.trash {
    background: transparent url('../images/icons/iconTrash_public.png') no-repeat top left;
}

.homePageFeatureBox div.international {
    background: transparent url('../images/icons/iconInternational_public.png') no-repeat top left;
}

.homePageFeatureBox div.tasks {
    background: transparent url('../images/icons/iconTasks_public.png') no-repeat top left;
}

.iconNew {
    display: inline-block;
    background: url('../images/icons/iconNew1.png') no-repeat;
    width: 16px;
    height: 16px;
}

.customerLogoContainer {
   width: 312px;
}

.customerLogoContainer a {
    border: none;
    margin: 0 0 0 6px;
}

.customerLogoContainer a.column2 {
    margin-left: 18px;
}

.callout {
    background: url('../images/quotesOpen.png') top left no-repeat;
    padding-left: 38px;
    color: #666;
    font-family: "Times New Roman";
    font-size: 1.2em;
    font-style: italic;
}

.callout a {
    font-family: "Times New Roman";
    font-size: 1.2em !important;
    font-style: italic;
}

.boxGrey {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -khtml-border-top-left-radius: 7px;
    -khtml-border-top-right-radius: 7px;
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #f5f5f5;
    border-top: 1px solid #edebeb;
    border-left: 1px solid #edebeb;
    width: 100%;
    min-height: 30px;   
}

.boxGrey p {
    font: 1.5em arial;
    padding: 4px 0 0 12px;
}

.boxBlue {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #bddbf9;
}

.barBlue, .boxBlue {
	background: #ebf4fd;
	width: 100%;
}
	.barBlue p, .boxBlue p {
		padding: 5px;
	}

    .barBlue p.noPad, .boxBlue p.noPad {
        padding-left: 0px;
    }

	.barBlue.bottom {
		border-bottom: 1px solid #bddbf9;
	}

.boxGray {
    background: #fafaf5;
    border: 1px solid #e8e7d6;
}

.boxYellow {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
	 border-radius: 7px;
	 border: 3px solid #fcfc80;
}

.barYellow, .boxYellow  {
	background: #FFFFD2;
	width: 100%;
}
	.barYellow p {
		padding: 6px;
	}

    .barYellow p.noPad, .boxYellow p.noPad {
        padding-left: 0px;
    }

	.barYellow.bottom {
		border-bottom: 1px solid #FBED89;
	}

	.barYellow.top {
		border-top: 1px solid #FBED89;
	}

    .boxYellowInner {
        border: 3px solid #FBED89;
        padding: 8px;
        background: #FFFFD2;
    }

    .boxYellow, .boxYellowInner {
        /*font: bold 1em arial !important;*/
    }

/*********************************************************************/
#pageBody {
    width: 950px;
    margin-left: auto;
	margin-right: auto;
    margin-top: 20px;
    background: #fff;
    min-height: 300px;
}

#pageBody .leftPane {
    width: 616px;
    margin-right: 14px;
    float: left;
}

#pageBody .rightPane {
    width: 314px;
    float: left;
}

#footer {
    height: 202px;
    /*margin-top: 30px;*/
    width: 100%;
    background: transparent url('../images/bgFooter2_public.png') repeat-x;
}

#footerBarBlue {
    margin-top: 36px;
    height: 75px;
    width: 100%;
    background: transparent url('../images/bgFooterBarBlue.png') repeat-x;
}

#footer .content p, #footer .content ul {
    font: normal 1em arial;
	color: #fff;
}

/***** SPACERS *****/

.hSpacer_6 {
    height: 6px;
}

.hSpacer_12 {
    height: 12px;
}

.hSpacer_18 {
    height: 18px;
}

.hSpacer_24 {
    height: 24px;
}

.hSpacer_30 {
    height: 30px;
}

.mTop, .mTop12 {
    margin-top: 12px;
}

.mBottom, .mBottom12 {
    margin-bottom: 12px;
}

.mBottom18 {
    margin-bottom: 18px;
}

.mTop18 {
    margin-top: 18px;
}

.mLeft12 {
    margin-left: 12px;
}

.mTop24 {
    margin-top: 24px;
}

/***** FORM STYLES *****/

label {
    font: bold 1em arial;
    display: block;
}

label.inline {
	display: inline;
}

label.inline.left {
    float: left;
}

label.inline.right {
    float: right;
}

label.inlineRight {
	float: right;
}

.instText {
    font: bold 0.7em arial;
    display: block;
}
select, input, textarea {
    border: 1px solid #c5c3c3;
    font: 1em arial;
	color: #333;
    background: url('../images/bgFormField.png') 0 1px repeat-x;
    padding: 3px;
    margin: 3px 0 3px 0;
}

input.checkbox {
    border: none;
    background: none;
}

input.login {
    width: 89px;
    height: 32px;
    background: url('../images/buttonLogin_public.png') no-repeat;
    border: none;
    cursor: pointer;
}

select.bigField, input.bigField, textarea.bigField {
    font: bold 1.3em arial;
}

form div.messageBlock {
    margin-left: -6px;
    padding-left: 6px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
	border-radius: 7px;
}

/***** TABLE STYLES *****/

.dataTable tr td {
       padding: 3px;
	   text-align: left;
	   min-height: 27px;
}

.dataTable thead tr th {
    border-bottom: 1px solid #d8d8da;
    padding: 3px;
	background: url(../images/bgTabGrayBlue.gif) 100% 0 repeat-x;
    min-height: 27px;
}

table.pricing {
    width: 601px;
}

table.pricing td, table.pricing th {
    width: 20%;
    border-right: 1px solid #7bd7eb;
    border-bottom: 1px solid #7bd7eb;
    padding: 6px;
    text-align: center;
    color: #fff;
}

table.pricing th h2 {
    text-align: center;
}

table.pricing th {
    padding-top: 9px;
    padding-bottom: 6px;
}

table.pricing td strong {
    color: #fff;
}

table.pricing td.blue1, table.pricing th.blue1, .blue1 {
    background: #61C8DE;
}

table.pricing td.blue2, table.pricing th.blue2, .blue2 {
    background: #56B6D2;
}

table.pricing td.blue3, table.pricing th.blue3, .blue3 {
    background: #3C8BB8;
}

table.pricing td.blue4, table.pricing th.blue4, .blue4 {
    background: #2C6FA4;
}

table.pricing td.green1, table.pricing th.green1 {
    background: #9acd02;
    border-bottom: 1px solid #c5e95a;
}

table.pricing td.green2, table.pricing th.green2 {
    background: #bee744;
    border-bottom: 1px solid #b9e633;
}

table.pricing td.yellow1, table.pricing th.yellow1 {
    background: #fed544;
    border-bottom: 1px solid #f8e49f;
}

table.pricing td.black {
    background: url('../images/bgBlackGradient.png') repeat-x;
    border-right: 1px solid #ccc;
    border-bottom: none;
}

table.pricing td.gray {
    background: url('../images/bgGrayGradient.png') repeat-x;
    border-right: 1px solid #ccc;
    border-bottom: none;
}

table.pricing td.green {
    background: url('../images/bgGreenGradient.png') repeat-x;
    border-right: 1px solid #ccc;
    border-bottom: none;
}

table.pricing td sup, table.pricing th sup {
    color: #fff;
    font-size: 1.2em;
    vertical-align: top;
}

table.pricing td.pricingItem, table th.pricingItem {
    text-align: left;
    font: bold 14px arial;
    color: #333;
    border: none;
}

table.pricing td.pricingItem {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff url('../images/bgFormField.png') 0 1px repeat-x;
}

table td.footer {
    border: none;
    background: #fff url('../images/bgFormField.png') 0 2px repeat-x;
    color: #333;
    text-align: left;
}

/***** LIST STYLES *****/

ul.check {
    list-style-image: url('../images/icons/checkSmall.png');
}

ul.check li {
    padding-bottom: 3px;
}

ul.arrow1 {
    list-style-image: url('../images/icons/arrow-light-brown-r.gif');
    margin-left: 16px;
}

ul.arrow1 li {
    padding: 2px 0 2px 0;
}

ul.sidebarIcons {
    margin-left: 6px;
}

ul.sidebarIcons li {
    margin-bottom: 18px;
}

ul.noBullet li {
    list-style-type: none;
    margin-bottom: 3px;
}

/***** SIGNUP PLAN SELECTION STYLES *****/

a.planSelect, a.planSelect:hover, div.planSelect {
    font: bold 1.3em arial;
    color: #999;
    text-decoration: none;
}

div.planSelect {
    margin: 3px;
}

a.selected, a.selected:hover, div.selected {
    color: #333;
}

.iconCheckOrange {
	display: block;
	min-height: 15px;
	line-height: 15px;
	padding-left: 20px;
	background: #bbe7f0 url('../images/icons/checkOrange.png') 0 2px no-repeat;
    padding-top: -5px;
}

.iconCheckGray {
	display: block;
	min-height: 15px;
	line-height: 15px;
	padding-left: 20px;
	background: url('../images/icons/checkGray.png') 0 2px no-repeat;
}

#planDescriptors {
    display: none;
}

/***** ERRORS ALERTS AND MORE *****/

.errorPanel {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
	border-radius: 7px;
	border: 2px solid #FF7349;
	padding: 6px 0 0 6px;
	background: #FFDACA;
}

.errorPanel .errorText {
    display: block;
    font: bold 1.3em arial;
    color: #FF7349;
}

#footer div.copyright {
    background: url('../images/logoUpstartSmall.png') left no-repeat;
    min-height: 38px;
    padding: 20px 0 0 120px;
    color: #999;
    vertical-align: bottom;
}

.iconRSSSmall, .iconTVSmall, .iconFilmSmall, .iconMediaPlayerSmall, .iconHeartSmall, .iconThumbSmall, .iconFacebookSmall, .iconTwitterSmall {
    padding-left: 23px;
    display: block;
    min-height: 23px;
}

.iconRSSSmall {
    background: url('../images/icons/feed.png') left no-repeat;
}

.iconTVSmall {
    background: url('../images/icons/television.png') left no-repeat;
}

.iconFacebookSmall {
    background: url('../images/icons/iconFacebook.png') left no-repeat;
}

.iconTwitterSmall {
    background: url('../images/icons/iconTwitter.png') left no-repeat;
}

.iconFilmSmall {
    background: url('../images/icons/film.png') left no-repeat;
}

.iconMediaPlayerSmall {
    background: url('../images/icons/media-player-black.png') left no-repeat;
}

.iconHeartSmall {
    background: url('../images/icons/heart.png') left no-repeat;
}

.iconThumbSmall {
    background: url('../images/icons/thumb-up.png') left no-repeat;
}

.icon_search_small {
	background: url("../images/icons/iconsearch_small.gif") no-repeat left;
	display: block;
	padding-left: 22px;
	min-height: 18px;
}

.iconChangePasswordSmall {
	background: url("../images/icons/iconChangePassword.png") no-repeat top left;
	display: block;
	padding-left: 30px;
	min-height: 24px;
}

.iconClockBig, .iconCalendar30DayBig, .iconNoCreditCardBig,
.iconPackageBig, .iconNoMoneyBig, .iconHorror, .iconCloud,
.iconTools, .iconSecurity, .iconUpdate {
    padding-left: 42px;
    display: block;
    min-height: 40px;
}

.iconClockBig {
    background: url('../images/icons/iconClockPublic.png') top left no-repeat;
}

.iconCloud {
    background: url('../images/icons/iconSkysTheLimit.png') top left no-repeat;
}

.iconUpdate {
    background: url('../images/icons/iconUpdateSmall.png') top left no-repeat;
}

.iconTools {
    background: url('../images/icons/iconprojects.png') top left no-repeat;
}

.iconCalendar30DayBig {
    background: url('../images/icons/iconCalendar30DayPublic.png') top left no-repeat;
}

.iconNoCreditCardBig {
    background: url('../images/icons/iconCreditCardPublic.png') top left no-repeat;
}

.iconPackageBig {
    background: url('../images/icons/iconPackagePublic.png') top left no-repeat;
}

.iconNoMoneyBig {
    background: url('../images/icons/iconMoneyPublic.png') top left no-repeat;
}

.iconSecurity {
    background: url('../images/icons/iconPadlock.png') top left no-repeat;
}

.iconHorror {
    background: url('../images/icons/emotion_suprised.png') top left no-repeat;
}

.iconInstallerBig {
    background: url('../images/icons/iconInstallerBig.png') top left no-repeat;
    min-height: 48px;
    padding-left: 53px;
}

.iconUpdatesBig {
    background: url('../images/icons/iconUpdateMedium.png') top left no-repeat;
    min-height: 48px;
    padding-left: 53px;
}

.iconTwitterBlock {
    display: block;
    background: url('../images/icons/twitterBlock.png') top left no-repeat;
    padding-top: 3px;
    padding-left: 36px;
    min-height: 30px;
}

.iconBlogBlock {
    display: block;
    background: url('../images/icons/blogBlock.png') top left no-repeat;
    padding-top: 3px;
    padding-left: 36px;
    min-height: 30px;
}

.iconFilmBig {
    display: block;
    background: url('../images/icons/film_go.png') top left no-repeat;
    padding-left: 36px;
    min-height: 30px;
}

.buttonGrabRSSFeed {
    display: block;
    width: 182px;
    height: 35px;
    background: url('../images/buttonGrabRSSFeed.png') no-repeat;
}

/***** TOUR STYLES *****/
.tourLeft {
    width: 400px;
    margin-right: 18px;
    float: left;
}

.tourRight {
    width: 290px;
    float: left;
}

.tourClear {
    clear: left;
    border-top: 1px solid #ebe8e8;
    margin: 30px 0 30px 0;
}

.tourMedium {
    width: 638px;
    height: 493px;
}

.tourLarge {
    width: 850px;
    height: 650px;
}

.tourThumb {
    float: left;
    width: 148px;
    height: 102px;
    display: block;
}

.tourThumb.left {
    margin-right: 3px;
}

.tourTextArea {
    height: 371px;
    width: 100%;
    margin-top: 12px;
}

.tourTextArea p {
    margin-bottom: 12px;
}

.containerScreenshots a.tourThumb {
    margin-right: 6px !important;
}

.tourHeader {
    background: #ffe95c url('../images/bgYellowGradient.png') bottom left repeat-x;
    width: 606px;
    min-height: 20px;
    border: 2px solid #fed544;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
	border-radius: 7px;
    margin-left: 6px;
    padding: 6px 0 6px 18px;
    float: left;
}

.thumbnailContainer {
    float: left;
    width: 300px;
    height: 252px;
    background: #f6f5f5;
    border: 1px solid #e5e5e5;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -khtml-border-radius: 7px;
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    margin-bottom: 20px;
}

.thumbnailContainer img {
    border-bottom: 1px solid #E5E5E5;
}

.thumbnailContainer div {
    padding: 12px;
}

.thumbnailContainer.rightPad {
    margin-right: 20px;
}

.bigImageContainer {
    width: 720px;
    float: left;
}

.bigTextContainer {
    width: 200px;
    float: left;
}

.bigTextContainer p {
    margin: 12px 0 12px 0;
}

.bigShotContainer {
    display: none;
    cursor: pointer;
}

#screenshotControls {
    display: none;
}

.contentSpacer {
    height: 24px;
    width: 100%;
    background: url('../images/bgFadeGrey.gif') top left repeat-x;
    border-top: 1px solid #edebeb;
}

/***** BLOG SPECIFIC STYLES *****/

.iconComments {
    float: left;
    display: block;
    background: url('../images/icons/balloon.png') no-repeat;
    padding-left: 22px;
    margin-left: 18px;
}

.iconTags {
    float: left;
    background: url("../images/icons/tagRed.png") no-repeat;
	display: block;
	padding-left: 22px;
    margin-left: 18px;
}

.commentAltContainer {
    border: 2px solid #e5e5e5;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
	border-radius: 7px;
    background: url('../images/bgFadeGrey.gif') top left repeat-x;
    padding: 9px;    
}

.commentContainer {
    padding: 11px;
}

.commentContainer, .commentAltContainer {
    float: right;
    width: 400px;
    margin-bottom: 12px;
}

.iconCommentsBig {
    display: block;
    background: url('../images/icons/comments.png') left no-repeat;
    padding-left: 70px;
    min-height: 50px;
    padding-top: 9px;
}

.iconCommentAddBig {
    display: block;
    background: url('../images/icons/comment_add.png') left no-repeat;
    padding-left: 70px;
    min-height: 50px;
    padding-top: 9px;
}

.commenterContainer {
    float: left;
    width: 190px;
    padding: 11px 0 11px 0;
    margin-bottom: 12px;
}

.cpoAdminIcon {
    display: block;
    width: 102px;
    height: 29px;
    background: url('../images/iconCPOAdmin.png') left no-repeat;
}

.hide {
    display: none;
}

.iconHelpSmall {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../images/icons/iconHelpSmall.gif') left no-repeat;
}

/***** CREDIT CARD ICONS *****/

option.cc_amex,option.cc_visa,option.cc_discover,option.cc_paypal,option.cc_mastercard {
    padding-left: 45px;
    min-height: 24px;
    margin: 2px;
}

option.cc_amex {
    background: url('../images/icons/cc_americanexpress-24px.png') left no-repeat;    
}

option.cc_visa {
    background: url('../images/icons/cc_visa-24px.png') left no-repeat;
}

option.cc_discover {
    background: url('../images/icons/cc_discover-24px.png') left no-repeat;
}

option.cc_paypal {
    background: url('../images/icons/cc_paypal-24px.png') left no-repeat;
}

option.cc_mastercard {
    background: url('../images/icons/cc_mastercard-24px.png') left no-repeat;
}

.cc_amexBig,.cc_visaBig,.cc_paypalBig,.cc_mastercardBig,.cc_discoverBig {
    display: inline-block;
    width: 51px;
    height: 32px;
    margin-right: 3px;
}

.cc_amexBig {
    background: url('../images/icons/cc_american-express-curved-32px.png') left no-repeat;
}

.cc_visaBig {
    background: url('../images/icons/cc_visa-curved-32px.png') left no-repeat;
}

.cc_paypalBig {
    background: url('../images/icons/cc_paypal-curved-32px.png') left no-repeat;
}

.cc_discoverBig {
    background: url('../images/icons/cc_discover-curved-32px.png') left no-repeat;
}

.cc_mastercardBig {
    background: url('../images/icons/cc_mastercard-curved-32px.png') left no-repeat;
}

.cc_verificationLocation {
    display: block;
    width: 183px;
    height: 179px;
    background: url('../images/ccVerificationCodeLocation.png') left no-repeat;
}

.securePadlockHeader {
    background: url('../images/bigPadlock2.png') left no-repeat;
    width: 81px;
    height: 134px;
    float: right;
    margin: -120px 50px 0 0;
}

.iconKeyV10 {
    background: url('../images/icons/key1.png') left no-repeat;
    display: block;
    padding-left: 30px;
    min-height: 25px;
}

.iconPrintSmall {
    display: block;
    min-height: 20px;
	background: url("../images/icons/printer.png") no-repeat left;
	padding-left: 22px;
}

.promoBadge5 {
    display: block;
    background: url("../images/promoStartAt5.png") no-repeat left;
    width: 163px;
    height: 108px;
}

.browserIcons {
    height: 24px;
    padding-left: 26px;
    padding-right: 12px;
    display: inline-block;
    color: #999;
    font-size: .9em;
}

.browserIcons.ie {
    background: url(../images/icons/logoIE.png) no-repeat;
}
.browserIcons.firefox {
    background: url(../images/icons/logoFirefox.png) no-repeat;
}
.browserIcons.chrome {
    background: url(../images/icons/logoChrome.png) no-repeat;
}
.browserIcons.safari {
    background: url(../images/icons/logoSafari.png) no-repeat;
}
.browserIcons.opera {
    background: url(../images/icons/logoOpera.png) no-repeat;
}

.iconNoCCRequired {
    display: block;
    min-height: 40px;
    padding-left: 40px;
    background: url(../images/icons/iconNoCCRequired.png) no-repeat;
}

.selfHostedPricePanel {
    display: block;
    background: url('../images/selfHostedPricePanel.png') left no-repeat;
    width: 174px;
    height: 114px;
}

.selfHostedHeader {
    background: url('../images/selfHostedServer.png') left no-repeat;
    width: 145px;
    height: 83px;
    float: right;
    margin: -90px 50px 0 0;
}

.appStore {
    display: block;
    background: url('../images/appStore_small.png') left no-repeat;
    width: 100px;
    height: 33px;
    float: left;
}

.appStoreBig {
    display: block;
    background: url('../images/appstore.png') left no-repeat;
    width: 149px;
    height: 63px;
}

.android {
    display: block;
    background: url('../images/android_coming_soon.png') left no-repeat;
    width: 110px;
    height: 32px;
    float: left;
}

.appStoreRight {
    background: url('../images/appstore.png') right no-repeat;
    padding-right: 100px;
}

.priceTag {
    width: 150px;
    height: 192px;
    position: absolute;
    background: url('../images/priceTag.png') left no-repeat;
    margin: -60px 0 0 -105px;
}