<h1>StuffSafe Terms and Conditions of Use</h1>

<p><a href="#" class="iconPrintSmall" style="margin: 12px 0 12px 0;" onClick="print(); return false;">Print this page.</a></p>

<p class="mBottom">By signing up for the StuffSafe service ("Service") or any of the services of
UpStart Productions, you are agreeing to be bound by the following terms and conditions
("Terms of Service"). Any new features or tools which are added to the current Service shall
be also subject to the Terms of Service. You can review the most current version of the
Terms of Service at any time at: <a href="/terms">http://www.stuffsafe.com/terms</a>.
UpStart Productions reserves the right to update and change the Terms of Service by posting
updates and changes to the StuffSafe website. You are advised to check the Terms of Service
from time to time for any updates or changes that may impact you.</p>

<h2 class="brown">Account Terms:</h2>
<ol class="mBottom">
    <li>You must provide a valid email address, and any other information needed in order to complete the signup process.</li>
    <li>You are responsible for keeping your password secure. UpStart Productions cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.</li>
    <li>You may not use the StuffSafe service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in
    your jurisdiction (including but not limited to copyright laws) or the laws of the United States or the State of Oregon.</li>

    <li>You are responsible for all activity and content (data, graphics, photos, links)
        uploaded under your StuffSafe account.</li>
    <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>

    <li>A breach or violation of any of the Account Terms as determined is the sole discretion of
    StuffSafe will result in an immediate termination of your services.</li>
</ol>

<h2 class="brown">General Conditions:</h2>
<p class="mBottom">You must read, agree with and accept all of the terms and conditions contained in this User Agreement and
the <a href="/privacy">Privacy Policy</a> before you
may become a user or member of StuffSafe.</p>
<ol class="mBottom">
    <li>We reserve the right to modify or terminate the Service for any reason, without notice at any time.</li>
    <li>We reserve the right to refuse service to anyone for any reason at any time. </li>
    <li>Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as available" basis without any warranty or condition, express, implied or statutory. </li>
    <li>UpStart Productions does not warrant that the service will be uninterrupted, timely, secure, or error-free. </li>
    <li>UpStart Productions does not warrant that the results that may be obtained from the use of the service will be accurate or reliable. </li>
    <li>You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. Credit card information is always encrypted during transfer over networks. </li>

    <li>We may, but have no obligation to, remove content and accounts containing content
        that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violate any party's
        intellectual property or these Terms of Service. </li>
    <li>UpStart Productions does not warrant that the quality of any products, services, information, or other material purchased or obtained by you through the </li>
    <li>Service will meet your expectations, or that any errors in the Service will be corrected. </li>
    <li>You expressly understand and agree that UpStart Productions shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service. </li>
    <li>In no event shall UpStart Productions or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, officers, directors, agents and employees harmless from any claim or demand, including reasonable attorney's fees made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party. </li>
    <li>Technical support is only provided to paying account holders and is only available via email. </li>

    <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by UpStart Productions. </li>
    <li>Verbal or written abuse of any kind (including threats of abuse or retribution) of any StuffSafe customer, UpStart Productions employee, member, or officer will result in immediate account termination. </li>
    <li>We do not claim any intellectual property rights over the material you provide to the StuffSafe service. All material you upload remains yours. You can remove your StuffSafe workspaces at any time by deleting your account. This will also remove all content you have stored on the Service. </li>
    <li>By uploading images and item description content to StuffSafe.com, you agree to allow other internet users to view them and you agree to allow UpStart Productions to display and store them and you agree that UpStart Productions can, at any time, review all the content submitted by you to its Service. </li>
    <li>The failure of UpStart Productions to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitute the entire agreement between you and UpStart Productions and govern your use of the Service, superseding any prior agreements between you and StuffSafe (including, but not limited to, any prior versions of the Terms of Service). </li>

    <li>You retain ownership over all content that you submit to a StuffSafe account however, by making your workspace public or inviting others into your workspace, you agree to allow others to view your content. </li>

    <li>Questions about the Terms of Service should be sent to support at StuffSafe dot com.</li>
</ol>

<h2 class="brown">Cancellation and Termination:</h2>
<ol class="mBottom">
    <li>You may cancel your account at anytime by logging into your account, clicking the Office Settings icon in
        the upper-right portion of the screen, clicking the Account tab, and clicking the Cancel my account button.
        You are solely responsible for cancelling your account.</li>

    <li>UpStart Productions may also terminate this Agreement if you do not provide a valid
    credit card for the payment of fees hereunder. If your credit card is invalid, we will
    notify you and attempt to charge the card again in 72 hours. If your credit card is
    invalid again, we will notify you once again, and you will have an additional 72 hours
    to provide us with a new credit card. If the replacement credit card is invalid, the
    Service may be cancelled and all the information contained within your subsite accessed through the Service
    deleted permanently. UpStart Productions accepts no liability for information that is deleted due to an invalid credit card.</li>
    <li>Once your account is cancelled all of your Content will be immediately deleted from the Service. Since deletion of all data is
        final, please be sure that you do, in fact, want to cancel your account before doing so.</li>
    <li>We reserve the right to modify or terminate the StuffSafe service for any reason, without notice at any time.</li>
    <li>Fraud: Without limiting any other remedies, UpStart Productions may suspend or terminate your account if we suspect that 
        you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent
        activity in connection with the Site.</li>
</ol>

<h2 class="brown">Modifications to the Service and Prices:</h2>
<ol class="mBottom">
    <li>Prices for using StuffSafe are subject to change with 30 days notice from UpStart Productions.
        Such notice may be provided at any time by posting the changes to the StuffSafe Site (CreativeProOffice.com)
        or the administration menu of your StuffSafe account via an announcement.</li>
    <li>UpStart Productions reserves the right at any time to time to modify or discontinue the Service (or any part thereof) with or without notice.</li>
    <li>UpStart Productions shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</li>

</ol>

<h2 class="brown">StuffSafe Privacy Policy:</h2>
Registration data and certain other information about you is subject to our Privacy Policy, the terms of which are incorporated into this Agreement by reference. 
<a href="/privacy">The terms of our Privacy Policy may be found here.</a> You represent and warrant to UpStart Productions
that you have obtained all required consents with respect to any personal information provided by you to UpStart Productions
in respect of your members, and that UpStart Productions may use such personal information for the purposes of contacting
the members and operating the Service.
<div class="mBottom"></div>

<h2 class="brown">DISCLAIMER OF WARRANTIES</h2>
YOU EXPRESSLY UNDERSTAND AND AGREE THAT: (a) YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. UPSTART PRODUCTIONS EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, PERFORMANCE AND NON-INFRINGEMENT.
(b) UPSTART PRODUCTIONS WILL MAKE REASONABLE EFFORTS TO MAINTAIN THE SERVICE, HOWEVER, UPSTART PRODUCTIONS IS NOT RESPONSIBLE FOR ANY DAMAGE, LOSS OF DATA, CUSTOMER INFORMATION OR VENDOR DATA, REVENUE, OR OTHER HARM TO BUSINESS ARISING OUT OF DELAYS, NON-AVAILABILITY, MISDELIVERY OR NONDELIVERY OF INFORMATION, RESTRICTION OR LOSS OF ACCESS, BUGS OR OTHER ERRORS, UNAUTHORIZED USE DUE TO YOUR SHARING OF ACCESS TO THE SERVICE, OR OTHER INTERACTION WITH THE SERVICE. YOU ARE RESPONSIBLE FOR MAINTAINING AND BACKING UP YOUR DATA AND INFORMATION THAT MAY RESIDE ON THE SERVICE. UPSTART PRODUCTIONS DOES NOT WARRANT THAT (i) THE SERVICE WILL MEET YOUR SPECIFIC REQUIREMENTS, (ii) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS, AND (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.
ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.
(d) NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE AGREEMENT.
<div class="mBottom"></div>

<h2 class="brown">LIMITATION OF LIABILITY</h2>
YOU EXPRESSLY UNDERSTAND AND AGREE THAT UPSTART PRODUCTIONS SHALL NOT BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY
INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS
OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF UPSTART PRODUCTIONS HAS BEEN ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF
PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR
OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS
TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR
(v) ANY OTHER MATTER RELATING TO THE SERVICE.

<p><strong>Please <a href="/contact">Contact Support</a> if you have any questions regarding our terms of use.</strong></p>